node_modules
*.log
.DS_Store
.arcconfig
bin
cache/*
# Common suffix for file backups by unix-like editors.
*~
# Emacs swap files
*\#*
# Vim swap files (http://stackoverflow.com/a/4824199)
*.swp
*.swo
