<script type="text/template"
    route="^verify\/(.*)"
    source="$endhost/invite/info/$1"
    transform="transformVerify"
    completed="completedVerify"
    page-title="Verify"
    >
    <div class="container">
        {{#loading}}
        {{>loading-view}}
        {{/loading}}
        {{#error}}
        <p>{{message}}</p>
        {{/error}}
        {{#data}}
        <h1>Complete Signup</h1>
        {{^isSignedIn}}
            <form onsubmit="false" data-set="verify" data-submit-action="verifyInvite" class="col-xs-12 col-md-6 panel">
                <input type="hidden" name="code" value="{{code}}" />
                <table class="form signup-verify">
                    <tbody>
                        <tr>
                            <th>Real Name</th>
                            <td>
                                <input type="text"
                                       name="realName"
                                       placeholder=""
                                       value="" />
                            </td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>
                                <input type="password"
                                       name="password"
                                       placeholder="a secret"/>
                                <button
                                    class="faux password"
                                    action="togglePassword"
                                    tabindex="999"
                                    toggle-target="password">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>
                                {{>location-autocomplete}}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="button button--cta">Submit</button>
            </form>
        {{/isSignedIn}}
        {{#isSignedIn}}
        <p>You are already signed in.</p>
        {{/isSignedIn}}
        {{/data}}
    </div>
</script>

<script type="text/template"
        route="^(signin|sign-in)"
        transform="transformSignIn"
        page-title="Sign In">
    {{#data}}
    <div class="container">
        {{^continueTo}}
        <h1>Sign In</h1>
        {{/continueTo}}
        {{#continueTo}}
        <div class="panel">
            <h1>Sign In to Continue</h1>
            <p>Sign in or create an account to continue {{>continueTo}}.</p>
        </div>
        {{/continueTo}}
        <div class="flex sign-split">
            <form onsubmit="false" data-set="credentials" data-submit-action="submitSignIn" class="col-xs-12 col-md-6 panel">
                <h2>With Email</h2>
                {{>sign-in-fields}}
                <div class="button-group button-group--margin">
                    <button class="button--cta button--full">Sign In</button>
                </div>
                <a href="/forgot-password">Forgot your password?</a>
                <br/>
                <a href="/sign-up?redirect={{redirectTo}}">Don't have an account? Sign up!</a>
            </form>
            <div class="col-xs-12 col-md-6 panel">
                <h2>With Social</h2>
                <div class="button-group button-group--margin">
                    <button class="button--social button--half button--fb" action="clickSignInFacebook"><i class="fa fa-social-f"></i> Sign In</button>
                    <button class="button--social button--half button--g" action="clickSignInGoogle"><i class="fa fa-social-g"></i> Sign In</button>
                </div>
            </div>
        </div>
    </div>
    {{/data}}
</script>

<script type="text/template"
        mustache-name="birthday-fields"
        >
<select name="birthday_month" class="birthday-month" value="{{birthday_month}}">
    <option value="01">Jan</option>
    <option value="02">Feb</option>
    <option value="03">Mar</option>
    <option value="04">Apr</option>
    <option value="05">May</option>
    <option value="06">Jun</option>
    <option value="07">Jul</option>
    <option value="08">Aug</option>
    <option value="09">Sep</option>
    <option value="10">Oct</option>
    <option value="11">Nov</option>
    <option value="12">Dec</option>
</select>
<select name="birthday_day" class="birthday-day" value="{{birthday_day}}">
    <option value="01">1</option>
    <option value="02">2</option>
    <option value="03">3</option>
    <option value="04">4</option>
    <option value="05">5</option>
    <option value="06">6</option>
    <option value="07">7</option>
    <option value="08">8</option>
    <option value="09">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>
<input type="text" class="birthday-year" name="birthday_year" placeholder="YYYY" value="{{birthday_year}}" size="4" />
</script>

<script type="text/template"
        mustache-name="sign-in-fields"
        >
<table class="form mobile">
    <tbody>
        <tr>
            <th>Email</th>
            <td>
                <input
                    type="text"
                    name="email"
                    placeholder="kitty@monstercat.com"/>
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                <input
                    type="password"
                    name="password"
                    placeholder="a secret"/>
                <button
                    class="faux password"
                    action="togglePassword"
                    toggle-target="password"
                    type="button">
                    <i class="fa fa-eye-slash"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</script>

<script type="text/template"
        route="authenticate-token"
        page-title="Sign In 2 Factor">
    <div class="container">
        <h1>Authenticate Token</h1>
        <div class="panel">
            <table class="form mobile" data-set="auth-token">
                <tr>
                    <th>Token</th>
                    <td>
                        <input type="text" name="token" placeholder="Enter Here"/>
                    </td>
                </tr>
            </table>
            <div class="button-group">
                <button class="button--cta button--full" action="authenticateTwoFactorToken" data-set-target="auth-token">Authorize</button>
                <button class="button--full" action="resendTwoFactorToken">Resend Token</button>
            </div>
        </div>
    </div>
</script>

<script type="text/template"
        route="^forgot-password"
        page-title="Forgot Password?">
    <div class="container">
        <h1>Forgot Password?</h1>
        <div class="panel">
        <table class="form mobile" data-set="credentials">
            <tbody>
                <tr>
                    <th>Email</th>
                    <td>
                        <input
                            type="text"
                            name="email"
                            placeholder="kitty@monstercat.com"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="button-group">
            <button class="button--cta button--full" action="recoverPassword" data-set-target="credentials">Send Reset Link</button>
        </div>
        </div>
    </div>
</script>

<script type="text/template"
        route="^reset-password"
        page-title="Reset Password"
        transform="transformPasswordReset"
        >
    <div class="container">
        {{#data}}
            <h1>Reset Password</h1>
            <div class="panel">
            {{#missingKey}}
                <p>No key provided.</p>
            {{/missingKey}}

            {{^missingKey}}
            <table class="form mobile" data-set="password">
                <tbody>
                    <tr>
                        <th>Password</th>
                        <td>
                            <input
                                type="password"
                                name="password"
                                placeholder="New Password"/>
                            <button
                                class="faux password"
                                action="togglePassword"
                                toggle-target="password">
                                <i class="fa fa-eye-slash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <th>Confirm</th>
                        <td>
                            <input
                                type="password"
                                name="confirmPassword"
                                placeholder="Confirm Password"/>
                            <button
                                class="faux password"
                                action="togglePassword"
                                toggle-target="confirmPassword">
                                <i class="fa fa-eye-slash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
                <div class="button-group">
                    <button
                        class="button--cta button-full"
                        action="updatePassword"
                        data-set-target="password">
                        Update Password
                    </button>
                </div>
            </div>
            {{/missingKey}}
        {{/data}}
    </div>
</script>

<script type="text/template"
        route="^confirm-sign-up"
        page-title="Confirm Sign Up"
        completed="completedSignUp"
        transform="mapConfirmSignup">
    <div class="container">
        <h1>Confirm Sign Up</h1>
        <div class="panel">
        {{#data}}
        <table class="form mobile" data-set="credentials" trigger-target="signUpSocial">
            {{>signup-fields}}
            <input type="hidden" name="token" value="{{token}}"/>
            <input type="hidden" name="submitWhere" value="{{submitWhere}}"/>
            <input type="hidden" name="name" value="{{name}}"/>
        </table>
        <div class="button-group">
            <button class="button--cta button--full" action="signUpSocial" trigger="signUpSocial" data-set-target="credentials">Sign Up</button>
        </div>
        {{/data}}
        {{^data}}
        <p>Nothing here.</p>
        {{/data}}
        </div>
    </div>
</script>

<script type="text/template"
        route="^sign-up"
        page-title="Sign Up"
        completed="completedSignUp"
        transform="transformSignUp">
    <div class="container">
        {{#data}}
            {{^continueTo}}
            <h1>Sign Up</h1>
            {{/continueTo}}

            {{#continueTo}}
            <div class="panel">
                <h1>Sign Up to Continue</h1>
                <p>Create an account or sign in to continue {{>continueTo}}.</p>
            </div>
            {{/continueTo}}
        <div class="flex sign-split">
            <div class="col-xs-12 col-md-6 panel">
                <h2>With Email</h2>
                <table class="form mobile" data-set="credentials" trigger-target="signUp">
                    {{>signup-fields}}
                </table>
                <div class="button-group">
                    <button class="button--cta button--full" action="submitSignUp" trigger="signUp" data-set-target="credentials">Sign Up</button>
                    or <a href="/signin?redirect={{redirectTo}}">sign in</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 panel">
                <h2>With Social</h2>
                <div class="button-group">
                    <button class="button--social button--half button--fb" action="clickSignUpFacebook"><i class="fa fa-social-f"></i> Sign Up</button>
                    <button class="button--social button--half button--g" action="clickSignUpGoogle"><i class="fa fa-social-g"></i> Sign Up</button>
                </div>
            </div>
        </div>
        {{/data}}
    </div>
</script>

<script type="text/template"
        route="^account\/gold\/?"
        page-title="My Gold Features"
        transform="transformAccountGold"
        completed="completedAccountGold"
        >
    <div id="account-gold">
        {{#loading}}
            {{>loading-view}}
        {{/loading}}
        {{#error}}
            {{>error}}
        {{/error}}
        {{#data}}
            <div class="top-banner top-banner--no-margin top-banner--account-gold">
                <div class="banner">
                    <div class="banner" style="background-image:url('/img/gold.jpg');">
                      <div class="banner-shade"></div>
                      <div class="gradient"></div>
                    </div>
                </div>
                <div class="container flex">
                    <div class="col-xs-12 col-sm-12 col-md-12 cl-white featured-details">
                        {{#isSignedIn}}
                            <a href="/account/services" class="button button--cta pull-right ml-1 mt-4">Subscriptions</a>
                            <a href="/account" class="button button--cta pull-right button--icon button--icon-left mt-4">
                                <i class="fa fa-chevron-left"></i>
                                My Account
                            </a>
                            <h1 class="title uppercase">My Gold Features</h1>
                            {{#hasGoldAccess}}
                                <p>Hey {{displayName}},
                                    {{#hasFreeGold}}
                                    you have a free Gold subscription.
                                    {{/hasFreeGold}}
                                    {{^hasFreeGold}}
                                    you've been Gold for {{gold.months}} month<span class="s" num="{{gold.months}}"></span>. {{thankYou}}
                                    {{/hasFreeGold}}</p>
                            {{/hasGoldAccess}}
                            {{^hasGoldAccess}}
                                <p>Hey {{displayName}}, to use these features you'll need to <a href="/gold/buy">get Gold</a>.</p>
                            {{/hasGoldAccess}}
                        {{/isSignedIn}}
                        {{^isSignedIn}}
                            <h1>Gold Features</h1>
                            <p>You aren't logged in. <a href="/sign-in">Sign in</a>.</p>
                            <p>Gold is a monthly subscription for supporting the artists, downloading music, early streaming, and more.</p>
                        {{/isSignedIn}}

                        {{^hasGoldAccess}}
                            <br /><a href="/gold/buy" class="button button--gold button--icon">Get Gold  <i class="fa fa-chevron-right"></i></a>
                            {{^isSignedIn}}
                                <span class="or">or</span>
                                <a href="/sign-in?redirect=%2Faccount%2Fgold" class="button button--cta-outline">Sign In</a>
                            {{/isSignedIn}}
                        {{/hasGoldAccess}}

                    </div>
                </div>
            </div>
            {{#hasGoldAccess}}
            <div class="container">
                <div class="flex flex-pt {{#hasGoldAccess}}{{/hasGoldAccess}}">
                    {{#hasGoldAccess}}
                    <div class="panel panel--daxrk rewards col-md-6 col-sm-12 col-xs-12">
                        <h2>Shop Discounts</h2>
                        <p>Each month you have Gold you get a new shop discount code. Stay subscribed for bigger discounts.</p>
                        <table class="mt-2 col-md-8 col-xs-12 table-striped">
                            <tr>
                                <th>Subscribe For</th>
                                <th>Discount</th>
                            </tr>
                            <tr>
                                <td>1+ months</td>
                                <td>10% off</td>
                            </tr>
                            <tr>
                                <td>1+ years</td>
                                <td>15% off</td>
                            </tr>
                            <tr>
                                <td>2+ years</td>
                                <td>20% off</td>
                            </tr>
                        </table>
                    </div>
                    {{/hasGoldAccess}}
                    <div class="col-xs-12 {{#hasGoldAccess}}col-md-6{{/hasGoldAccess}}{{^hasGoldAccess}}col-md-12{{/hasGoldAccess}} panel" id="shop-codes">
                        <h2>Current Code</h2>
                        {{#hasGoldAccess}}
                                {{#currentCode}}
                                <p class="code-description">
                                    <input class="code" size="32" type="text" value="{{code}}" role="clipboard" />{{>copy-clipboard-button}}
                                    gets you <span class="discount">{{discountText}}</span>.
                                    <br /><small>{{#expires}}
                                    Single use and expires on {{expiresFormatted}}.
                                    {{/expires}}
                                    {{^expires}}
                                        Single use and does not expire.
                                    {{/expires}}
                                    Next code in <span role="countdown" to="{{nextCodeDate}}" day-label=" day/ days" show-days="1" show-hours="0" show-minutes="0" show-seconds="0"></span>.</small>
                                </p>
                                {{/currentCode}}
                                <div class="button-group">
                                    <a href="https://shop.monstercat.com/?utm_source=gold&utm_campaign=shop_discount" class="button button--cta button--icon" target="_blank">
                                        Go to Shop
                                        <i class="fa fa-external-link"></i>
                                    </a>
                                </div>
                        {{/hasGoldAccess}}
                        {{^hasGoldAccess}}
                        <p>Get a discount code in the <a href="https://shop.monstercat.com">Monstercat Shop</a> every month that you have <a href="/gold">Gold</a>.</p>
                        <div class="button-group">
                            <a href="/gold/buy" class="button">Get Monstercat Gold</a>
                        </div>
                        {{/hasGoldAccess}}
                    </div>

                </div>
                <div class="flex sign-split">
                    <div class="col-xs-12 col-md-6 panel" id="reddit">
                        <h2>/r/Monstercat Flair</h2>
                        {{#hasGoldAccess}}
                            {{#self}}
                            <p>Put in your reddit username to get an exclusive <strong>Monstercat Gold</strong> flair on the <a href="https://www.reddit.com/r/monstercat">Monstercat Subreddit</a>.</p>
                            <table class="form mobile" data-set="reddit-flair" trigger-target="saveRedditUsername">
                                <tbody>
                                    <tr>
                                        <th>reddit username</th>
                                        <td><input type="text" name="redditUsername" placeholder="Username" value="{{redditUsername}}" /></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="button-group">
                                <button class="button--full" action="saveRedditUsername" trigger="saveRedditUsername" data-set-target="reddit-flair">Save</button>
                            </div>
                            {{/self}}
                        {{/hasGoldAccess}}
                        {{^hasGoldAccess}}
                        <p>Get an exclusive <strong>Monstercat Gold</strong> flair on the <a href="https://www.reddit.com/r/monstercat">Monstercat Subreddit</a>.</p>
                        <div class="button-group">
                            <a href="/gold/buy" class="button">Get Monstercat Gold</a>
                        </div>
                        {{/hasGoldAccess}}
                    </div>
                    <div class="col-xs-12 col-md-6 panel">
                        <h2>Gold-only Discord Chat</h2>
                        <p>Join us on our <a href="https://discord.gg/j8N75GN">Discord server</a> in the exclusive Gold members only chat. Please join the server before using the form below.</p>
                        {{>joinGoldDiscord}}
                        {{^hasGoldAccess}}
                        <div class="button-group">
                            <a href="/gold/buy" class="button">Get Monstercat Gold</a>
                        </div>
                        {{/hasGoldAccess}}
                    </div>
                </div>
            </div>
            {{/hasGoldAccess}}
        {{/data}}
    </div>
</script>

<script type="text/template"
        route="^(account\/?$|account\/?\?(.*)$)"
        source="$endpoint/self"
        page-title="My Account"
        completed="completedAccount"
        transform="mapAccount">
    <div class="container">
        <a href="/account/services" class="button button--cta pull-right ml-1">Subscriptions</a>
        {{#data}}
            {{#hasGoldAccess}}
                <a href="/account/gold" class="button button--gold-dark pull-right button--icon">
                    My Gold Features
                    <i class="fa fa-chevron-right"></i>
                </a>
            {{/hasGoldAccess}}
            {{^hasGoldAccess}}
                <a href="/gold/buy" class="button button--gold-dark pull-right">Upgrade to Gold</a>
            {{/hasGoldAccess}}
        {{/data}}
        <h1>My Account</h1>
        <div class="flex sign-split">

            <div class="col-xs-12 col-md-6 panel">
                <h2>Account</h2>
                {{#loading}}
                {{>/loading-view}}
                {{/loading}}
                {{#error}}
                <p>{{message}}</p>
                <p><a href="/signin?redirect=account">Sign in</a> to view this page.</a></p>
                {{/error}}
                {{#data}}
                <table class="form mobile" trigger-target="saveAccount">
                    <tbody data-set="account">
                        <tr>
                            <th>Email</th>
                            <td>{{email}}</td>
                        </tr>
                        <tr>
                            <th>Display Name</th>
                            <td><input type="text"
                                       name="name"
                                       value="{{name}}"
                                       placeholder="Nickname"
                                       data-set-target="account"
                                       initial-value="{{name}}" />
                            </td>
                        </tr>
                        <tr>
                            <th>Full Name</th>
                            <td><input type="text"
                                       name="realName"
                                       value="{{realName}}"
                                       placeholder="Jon GQ Winter"
                                       data-set-target="account"
                                       initial-value="{{realName}}" />
                            </td>
                        </tr>
                        <tr>
                            <th>Location</th>
                            <td>
                                {{>location-autocomplete}}
                                {{#locationLegacy}}
                                    <p>Your country is currently <strong>{{location}}</strong>. Add your city above.</p>
                                {{/locationLegacy}}
                            </td>
                        </tr>
                        <tr>
                            <th>Birthday</th>
                            <td>
                                {{>birthday-fields}}
                            </td>
                        </tr>
                        <tr>
                            <th valign="top">Email me about</th>
                            <td>
                                {{>account-email-optins}}
                            </td>
                        </tr>
                        <tr>
                            <th>Change Password</th>
                            <td>
                                <input type="password"
                                       name="password"
                                       placeholder="New Password">
                                <button
                                    class="faux password"
                                    action="togglePassword"
                                    toggle-target="password">
                                    <i class="fa fa-eye-slash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-group button-group--margin">
                    <button class="button--cta button--full"
                            action="saveAccount"
                            trigger="saveAccount"
                            data-set-target="account">
                        Save
                    </button>
                    <button class="button--danger button--full" action="signOut">Sign Out</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 panel">
                <div id="settings">
                    <h2>Settings</h2>
                    <div source="$endpoint/self/settings"
                         template="account-settings">
                    </div>
                </div>
                <hr class="mt-4 mb-4" />
                <div id="two-factor">
                    <h2>Two-Factor Auth</h2>
                    {{#twoFactor}}
                    <p>Two-factor auth is currently <strong>enabled</strong>.</p>
                    <br />
                    <button action="disableTwoFactor">Disable</button>
                    {{/twoFactor}}
                    {{#enableTwoFactor}}
                    <table class="form mobile" data-set="2-factor">
                        <tbody>
                            <tr>
                                <th>Country Code</th>
                                <td>
                                    <select name="countryCode">
                                        <option value="" selected>Select</option>
                                        {{#countries}}
                                        <option value="{{dial_code}}">{{name}} ({{dial_code}})</option>
                                        {{/countries}}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>
                                    <input type="text" name="number" placeholder="Phone Number"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-group">
                        <button class="button--full" action="enableTwoFactor" data-set-target="2-factor">Enable</button>
                    </div>
                    {{/enableTwoFactor}}
                    {{#confirmingTwoFactor}}
                    <p>Enter the token to confirm your phone number and complete your two factor setup.</p>
                    <table class="form mobile" data-set="confirm-auth-token">
                        <tr>
                            <th>Token</th>
                            <td>
                                <input type="text" name="token" placeholder="Enter Here"/>
                            </td>
                        </tr>
                    </table>
                    <div class="button-group">
                        <button class="button--cta button--full" action="confirmTwoFactor" data-set-target="confirm-auth-token">Confirm Two Factor</button>
                        <button class="button--full" action="resendTwoFactorToken">Resend Token</button>
                        <button class="button--full" action="disableTwoFactor">Cancel</button>
                    </div>
                    {{/confirmingTwoFactor}}
                </div>
                {{/data}}
                </div>
            </div>
        </div>
</script>

<script type="text/template"
        template-name="account-settings"
        transform="transformAccountSettings">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <table class="form mobile">
        <tbody data-set="settings">
            <tr id="preferred-download">
                <th>Preferred Download Format</th>
                <td>
                    <select name="preferredDownloadFormat"
                            initial-value="{{preferredDownloadFormat}}">
                        {{#downloadOptions}}
                        <option value="{{value}}"
                                {{#selected}}selected{{/selected}}>
                            {{name}}
                        </option>
                        {{/downloadOptions}}
                    </select>
                    <span class="note">
                    See more about MP3 quality
                    <a href="http://wiki.hydrogenaud.io/index.php?title=LAME#Recommended_encoder_settings"
                       target="_blank">here</a>.
                    </span>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <label>
                        <input type="checkbox"
                               name="hideNonLicensableTracks"
                               initial-value="{{hideNonLicensableTracks}}"
                            {{#hideNonLicensableTracks}}checked{{/hideNonLicensableTracks}}/>
                        Skip Non-licensable Tracks
                    </label>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label>
                        <input type="checkbox"
                               name="blockNonLicensableTracks"
                               initial-value="{{blockNonLicensableTracks}}"
                            {{#blockNonLicensableTracks}}checked{{/blockNonLicensableTracks}}/>
                        Block Non-licensable Tracks
                    </label>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label>
                        <input type="checkbox"
                               name="playlistPublicByDefault"
                               initial-value="{{playlistPublicByDefault}}"
                            {{#playlistPublicByDefault}}checked{{/playlistPublicByDefault}}/>
                        Make Playlists Public By Default
                    </label>
                </th>
            </tr>
        </tbody>
    </table>
    <div source="$endpoint/self/social-signins"
         template="social-settings">
    </div>
    <div class="button-group">
        <button class="button--cta button--full"
                action="saveAccountSettings"
                data-set-target="settings">
            Update Settings
        </button>
    </div>
    {{/data}}
</script>

<script type="text/template"
        mustache-name="signup-fields">
    <tbody>
        <tr>
            <th>Email</th>
            <td>
                <input type="text"
                       name="email"
                       placeholder="kitty@monstercat.com"
                       value="{{email}}" />
            </td>
        </tr>
        <tr>
            <th>Password</th>
            <td>
                <input type="password"
                       name="password"
                       placeholder="a secret"/>
                <button
                    class="faux password"
                    action="togglePassword"
                    tabindex="999"
                    toggle-target="password">
                    <i class="fa fa-eye-slash"></i>
                </button>
            </td>
        </tr>
        <tr>
            <th>Location</th>
            <td>
                {{>location-autocomplete}}
            </td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>
                {{>birthday-fields}}
            </td>
        </tr>
        <tr>
            <th valign="top">Email me about</th>
            <td>
                {{>account-email-optin-news}}
                {{>account-email-optin-events}}
                {{>account-email-optin-merch}}
            </td>
        </tr>
    </tbody>
</script>

<script type="text/template"
        mustache-name="account-email-optins">
    <div class="checkbox email-optin-checkbox">
        <label>
            <input type="checkbox" checked disabled />
            Important service updates
        </label>
    </div>
    {{>account-email-optin-news}}
    {{>account-email-optin-events}}
    {{>account-email-optin-merch}}
</script>

<script type="text/template"
        mustache-name="account-email-optin-news">
<div class="checkbox email-optin-checkbox">
    <label>
        <input type="checkbox" name="emailOptIns[news]"{{#emailOptIns.news}} checked="checked"{{/emailOptIns.news}} value="1" />
        Monstercat News
    </label>
</div>
</script>

<script type="text/template"
        mustache-name="account-email-optin-merch">
<div class="checkbox email-optin-checkbox">
    <label>
        <input type="checkbox" name="emailOptIns[merch]"{{#emailOptIns.merch}} checked="checked"{{/emailOptIns.merch}} value="1" />
        Shop Discounts &amp; Promotions
    </label>
</div>
</script>

<script type="text/template"
        mustache-name="account-email-optin-events">
<div class="checkbox email-optin-checkbox">
    <label>
        <input type="checkbox" name="emailOptIns[events]"{{#emailOptIns.events}} checked="checked"{{/emailOptIns.events}} value="1" />
        Official Monstercat Events
    </label>
</div>
</script>

<script type="text/template"
        template-name="social-settings"
        transform="transformSocialSettings">
    {{#data}}
        <div class="button-group">
        {{#facebookEnabled}}
        <button class="button--social button--half button--fb" action="unlinkFacebook">
            <i class="fa fa-social-f"></i> Unlink Account
        </button>
        {{/facebookEnabled}}
        {{^facebookEnabled}}
        <button class="button--social button--half button--fb" action="enableFacebookSignin">
            <i class="fa fa-social-f"></i> Link Account
        </button>
        {{/facebookEnabled}}

        {{#googleEnabled}}
        <button class="button--social button--half button--g" action="unlinkGoogle">
            <i class="fa fa-social-g"></i> Unlink Account
        </button>
        {{/googleEnabled}}
        {{^googleEnabled}}
        <button class="button--social button--half button--g" action="enableGoogleSignin">
            <i class="fa fa-social-g"></i> Link Account
        </button>
        {{/googleEnabled}}
    </div>
    {{/data}}
</script>

<script type="text/template"
        mustache-name="joinGoldDiscord">
{{#hasGoldAccess}}
<div data-set="discord-join-info" trigger-target="joinDiscord">
	<table class="form mobile">
		<tbody>
			<tr>
					<th>Discord Username & Identifier</th>
					<td><input type="text" placeholder="Example#0000" name="discordId"/></td>
			</tr>
		</tbody>
	</table>
	<div class="button-group">
		<button type="button"
			class="action-toggle"
			action="joinDiscord" 
			data-set-target="discord-join-info">
			Join Discord 
			<i class="fa fa-spin fa-refresh fa-fw on"></i>
		</button>
	</div>
  <div role="response"></div>
</div>
{{/hasGoldAccess}}
</script>

<script type="text/template" template-name="joinDiscordResponse">
{{#loading}}{{/loading}}
{{#error}}
<p class="error-box">{{message}}</p>
{{/error}}
{{#data}}
<br/>
<p class="success-box">
Success please join the following channels with the links below:<br/><br/>
{{#goldJoinUrl}}
<strong>Gold Channel:</strong> <a href="{{.}}">{{.}}</a>
{{/goldJoinUrl}}
{{#licenseeJoinUrl}}
<br/>
<strong>Licensee Channel:</strong> <a href="{{.}}">{{.}}</a>.</p>
{{/licenseeJoinUrl}}
{{/data}}
</script>

<script type="text/template"
        mustache-name="required"><span class="required">*</span></script>

<script type="text/template"
        mustache-name="continueTo">
{{#buying}}{{#vendor}}a <strong>{{vendor}}</strong> license for <strong>{{identity}}</strong>{{/vendor}}{{#gold}}a <strong><a href="/gold">Gold subscription</a></strong>{{/gold}}{{/buying}}
{{#msg}}{{{msg}}}{{/msg}}</script>
