<script type="text/template"
        route="^essentials(\.html)?"
        page-title="Contact">
    <div class="container">
        <h1>Essentials</h1>
        <div class="panel flex text center">
            <div class="col-xs-12 col-md-6 text left">
                <h2>Branding Guide</h2>
                <p>Here you will find all of our official branding information, fonts and logos. Brand consistency is very important to us; please do not alter the logo or font.</p>
                <p>Monstercat, when written in plain text should always be spelled as 'Monstercat' not 'MonsterCat'.</p>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Logo</h2>
                
                <img src="https://assets.monstercat.com/essentials/logos/monstercat_logo_typeface_normal.png" alt="Monstercat Logo" class="image-responsive" />

                <div class="button-group button-group--multiple">
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_typeface_small.png" target="_BLANK" download>Small</a>
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_typeface_medium.png" target="_BLANK" download>Medium</a>
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_typeface.ai" target="_BLANK" download>Vector</a>
                </div>
            </div>
        </div>
        <div class="panel flex text center">
            <div class="col-xs-12 col-md-6">
                <h2>The Cat</h2>
                
                <img src="https://assets.monstercat.com/essentials/logos/monstercat_logo_square_small_white.png" alt="Monstercat Logo" class="image-responsive image-responsive--medium image-responsive--shadow" />

                <div class="button-group button-group--multiple">
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_cat_small.png" target="_BLANK" download>Small</a>
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_cat_normal.png" target="_BLANK" download>Medium</a>
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_cat_large.png" target="_BLANK" download>Large</a>
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_cat.ai" target="_BLANK" download>Vector</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <h2>Square Cat</h2>
                
                <img src="https://assets.monstercat.com/essentials/logos/monstercat_logo_square_small.png" alt="Monstercat Logo" class="image-responsive image-responsive--medium" />

                <div class="button-group button-group--multiple">
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_square_small.png" target="_BLANK" download>Small</a>
                    <a class="button button--black" href="https://assets.monstercat.com/essentials/logos/monstercat_logo_square_large.png" target="_BLANK" download>Large</a>
                </div>
            </div>
        </div>
    </div>
</script>
