<script type="text/template"
        mustache-name="gold-subscribe-form"
        template-name="gold-subscribe-form"
        >
<div class="flex gold-subscribe">
  <div class="col-xs-12 col-md-5 col-md-last col-lg-last panel panel--dark">
      <h2>What You Get</h2>
      <ul class="what-you-get">
        <li>Directly support the artists</li>
        <li>Download songs in your preferred format</li>
        <li>Early streaming access to new releases</li>
        <li><a href="https://www.reddit.com/r/monstercat" target="_blank">/r/Monstercat</a> subreddit flair</li>
        <li>Gold-only Discord chat</li>
      </ul>
      {{^hasGold}}
        <div class="coupon-area">
          <h4>Coupon Code</h4>
          <form onsubmit="submitGoldApplyCoupon(event)" class="form-inline">
            <input type="text" class="inline" name="trialCode" placeholder="Enter coupon code" />
            <button type="submit" role="apply-coupon" class="button button-sm button--white button-apply-coupon">Apply</button>
          </form>
        </div>
      {{/hasGold}}
  </div>
  <div class="col-xs-12 col-md-7 panel">
    <form onsubmit="submitCheckoutGold(event)">
      <h1>{{^isSignedIn}}<span sign-on="sign-in" class="hide">Sign In</span><span sign-on="sign-up">Sign Up</span> &amp; {{/isSignedIn}}Checkout</h1>
      {{^isSignedIn}}
      <div role="sign-on-form">
        <input type="hidden" name="sign-on-method" value="sign-up" />
        <div role="sign-on-errors"></div>
        <div class="switch-sign-on">
          <p class="col-md-offsxet-4" sign-on="sign-up">Have an account? <a onclick="clickGoldSetSignOn(event, 'sign-in');">Login here</a>.</p>
          <p class="col-md-offsxet-4 hide" sign-on="sign-in" role="sign-in">New here? <a onclick="clickGoldSetSignOn(event, 'sign-up');">Create an account</a>.</p>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 col-md-4">
            <label>Email</label>
          </div>
          <div class="col-xs-12 col-md-8">
            <input type="text" name="email" placeholder="email@domain.com" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 col-md-4">
            <label>Password</label>
          </div>
          <div class="col-xs-12 col-md-8">
            <input type="password" placeholder="" name="password" />
          </div>
        </div>
        <div class="form-group row" sign-on="sign-up">
          <div class="col-xs-12 col-md-4">
            <label>Confirm</label>
          </div>
          <div class="col-xs-12 col-md-8">
            <input type="password" placeholder="" name="password_confirm" />
          </div>
        </div>
        <div class="form-group row"  sign-on="sign-up">
          <div class="col-xs-12 col-md-4">
            <label>Location</label>
          </div>
          <div class="col-xs-12 col-md-8">
            {{>location-autocomplete}}
          </div>
        </div>
        <div class="form-group row"  sign-on="sign-up">
          <div class="col-xs-12 col-md-4">
            <label>Email me about</label>
          </div>
          <div class="col-xs-12 col-md-8 checkboxes email-optins">
            {{>account-email-optin-news}}
            {{>account-email-optin-events}}
            {{>account-email-optin-merch}}
          </div>
        </div>
      </div>
      {{/isSignedIn}}
      {{#hasGold}}
        <p>You already have Gold.</p>
        <br />
        <a href="/account/services" class="button button--cta">View You Subscriptions</a>
      {{/hasGold}}
      {{^hasGold}}
        <div class="form-group row">
          <div class="col-xs-12 col-md-4">
            <label>Payment Method</label>
          </div>
          <div class="col-xs-12 col-md-8 payment-method">
            <label class="radio">
                <input type="radio" name="method" value="stripe" checked>
                <span><i class="fa fa-fw fa-cc-stripe"></i></span>
            </label>
            <label class="radio">
                <input type="radio" name="method" value="paypal">
                <span><i class="fa fa-fw fa-cc-paypal"></i></span>
            </label>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-xs-12 col-md-4">
            <label>Monstercat Gold</label>
          </div>
          <div class="col-xs-12 col-md-8 price-area">
            <div role="trial-free-days"></div>
            <div class="monthly-cost">
              <span class="amount">$5</span><span class="frequency">/month</span>
              <span class="currency">USD</span>
              <span class="after">after</span>
            </div>
            <div class="no-auto-renew">with no auto-renew</div>
          </div>
        </div>
        <div class="col-xs-12 col-md-offset-4">
          <button class="{{#goldButton}}button--gold{{/goldButton}}{{#ctaButton}}button--cta{{/ctaButton}} button--checkout button" role="checkout">
              Complete Checkout
          </button>
        </div>
      {{/hasGold}}
    </form>
  </div>
</div>
</script>


<script type="text/template"
        route="^gold/get"
        transform="transformGetGold"
        page-title="Buy Monstercat Gold">
</script>

<script type="text/template"
        route="^gold/buy/success"
        transform="transformBuyGoldSuccess"
        page-title="Monstercat Gold">
        <div class="container">
          <div class="panel">
            <h1>Success</h1>
            <p>Your subscription is successful.</p>
            <code>TODO: Make this page nicer.</code>
          </div>
        </div>
</script>


<script type="text/template"
        route="^gold/buy"
        transform="transformGoldBuyPage"
        completed="completedGoldBuyPage"
        page-title="Buy Monstercat Gold">
  {{#data}}
    <div class="container">
      {{#goldSubscribe}}
        {{>gold-subscribe-form}}
      {{/goldSubscribe}}
    </div>
  {{/data}}
</script>

<script type="text/template"
        route="^gold"
        transform="transformGoldLanding"
        completed="completedGoldLanding"
        page-title="Monstercat Gold">
  {{#data}}
    <div class="top-banner top-banner-gold">
      <div class="banner" style="background-image:url('/img/gold.jpg')"></div>
      <div class="container flex">
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-6">
          <h1 id="top">Monstercat Gold</h1>
          <ul class="gold-perks">
            <li><a href="#download-access" action="anchorScrollTo">Download Monstercat songs in your preferred format</a></li>
            <li><a href="#early-streaming" action="anchorScrollTo">Early streaming access to new releases</a></li>
            <li><a href="#support-the-artists" action="anchorScrollTo">Directly support the artists</a></li>
            <li><a href="#discord" action="anchorScrollTo">and more!</a></li>
          </ul>
          <br />
          {{#hasGoldAccess}}
          <p>You already have Gold, {{sessionName}}. You're cool.</p>
          {{/hasGoldAccess}}
          {{^hasGoldAccess}}
          <a class="button button--gold" href="{{getGoldUrl}}" click-action="Click Get Gold" click-label="Gold Landing Header" click-category="Gold">
            Get Gold - $5/mo
          </a>
          {{/hasGoldAccess}}
        </div>
      </div>
    </div>
    {{#featureBlocks}}
      <section class="flex gold-feature-section" id="{{id}}">
          <div class="col-xs-12 col-sm-12 col-md-6 {{^isOdd}}col-md-last {{/isOdd}} article-banner">
              <div class="side-banner" style="background-image: url(/img/gold-landing/{{image}});"></div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 article-details">
              <div class="article-wrapper">
                <h2>{{title}}</h2>
                <p class="description">{{description}}</p>
                {{#discord}}
                  {{#hasGoldAccess}}
                    {{>joinGoldDiscord}}
                  {{/hasGoldAccess}}
                {{/discord}}
                {{#download}}
                <p class="description">You can change your preferred download format in <a href="/account#preferred-download">your settings</a>.</p>
                {{/download}}
                {{#reddit}}
                  {{#hasGoldAccess}}
                    {{#redditUsername}}
                    <p class="description">Your reddit account: <strong>{{redditUsername}}</strong>. <a href="/account#reddit">Change it</a>.</p>
                    {{/redditUsername}}
                    {{^redditUsername}}
                    <p class="description">You haven't set up your reddit username yet, <a href="/account#reddit">set it here</a>.</p>
                    {{/redditUsername}}
                  {{/hasGoldAccess}}
                {{/reddit}}
                {{^hasGoldAccess}}
                  <a class="button button--gold-light" href="{{getGoldUrl}}" test-kpi="{{id}}" click-label="{{title}}" click-action="Click Get Gold" click-category="Gold" target="_BLANK">
                    {{cta}} - $5/mo
                  </a>
                {{/hasGoldAccess}}
                <a class="back-to-top" href="#top" action="anchorScrollTo">back to top</a>
              </div>
          </div>
      </section>
    {{/featureBlocks}}
    <div class="gold-footer-cta">
      <div class="banner" style="background-image:url(/img/banner.jpg)">
          <div class="banner-shade"></div>
          <div class="gradient gradient--inverted"></div>
      </div>
      <div class="container">
        <div class="button-group-center">
          {{#hasGoldAccess}}
          <h2>You already have Gold, {{sessionName}}.</h2>
          <p>You're cool.</p>
          {{/hasGoldAccess}}
          {{^hasGoldAccess}}
          <h2>Be Gold.</h2>
          <a class="button button--gold" href="{{getGoldUrl}}" click-action="Click Get Gold" click-label="Gold Landing Footer" click-category="Gold">Get Gold - $5/mo</a>
          {{/hasGoldAccess}}
        </div>
      </div>
    </div>
  {{/data}}
</script>