<script type="text/template"
        mustache-name="location-autocomplete">
    <input id="locationAutoComplete" type="text" placeholder="" autocomplete="on" value="{{placeNameFull}}">
    <input type="hidden" name="googleMapsPlaceId" value="{{googleMapsPlaceId}}" />
    <input type="hidden" name="country" value="{{country}}" />
    <input type="hidden" name="placeNameFull" value="{{placeNameFull}}" />
    <input type="hidden" name="placeName" value="{{placeName}}" />
    <input type="hidden" name="lat" value="{{lat}}" />
    <input type="hidden" name="lng" value="{{lng}}" />
</script>