<script type="text/template"
        route="^(\?.*)?$"
        page-title="Monstercat">
    <div role="home-featured">
        <div source="$endpoint/catalog/release?limit=15" template="home-featured"></div>
    </div>
    <div source="$endpoint/catalog/release?filters=type,Podcast&limit=8" template="home-podcast"></div>
    <div source="https://shopcollections.monstercat.com/394974148" template="home-merch"></div>
    <div source="$endpoint/catalog/news" template="blog-stories"></div>
    <div class="flex social">
        <div class="col-xs-12 col-sm-12 col-md-6 text right cl-white spotify-wrapper">
            <div class="banner" style="background-image:url(/img/banner.jpg)">
                <div class="banner-shade"></div>
                <div class="gradient gradient--inverted"></div>
            </div>
            <div class="container-left">
                <header>
                    <h2 class="line-top">Listen on Spotify</h2>
                </header>
                <ul class="spotify-playlists">
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia/playlist/4kw9kdjzx1UmyWvpysl0y2" target="_BLANK">
                            <div style="background-image:url(/img/spotify/new-releases.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title"><h2>New Releases</h2></div>
                        </a>
                    </li>
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia/playlist/4pylRY0ogA4JwC6CplYTxl" target="_BLANK">
                            <div style="background-image:url(/img/spotify/hype.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title"><h2>Hype</h2></div>
                        </a>
                    </li>
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia/playlist/4rIPUdx0APV1euj24QR3uN" target="_BLANK">
                            <div style="background-image:url(/img/spotify/feel-good.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title"><h2>Feel Good</h2></div>
                        </a>
                    </li>
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia/playlist/5ox7QhPLaPEuebCnvxNhd0" target="_BLANK">
                            <div style="background-image:url(/img/spotify/unwind.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title"><h2>Unwind</h2></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 text left followers">
            <div class="container-right">
                <header>
                    <h2 class="line-top">Join the Family</h2>
                </header>
                <ul class="social-grid">
                    <li>
                        <a class="no-hover social-grid-wrapper youtube" href="https://www.youtube.com/user/MonstercatMedia" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-y"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="youtube">
                                    <h3>4.7m</h3>
                                    <p>subscribers</p>
                                </div>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper twitter" href="https://twitter.com/monstercat" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-t"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="twitter">
                                    <h3>299k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="no-hover social-grid-wrapper facebook" href="https://www.facebook.com/monstercat" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="facebook">
                                    <h3>800k</h3>
                                    <p>likes</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-f"></i>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper instagram" href="https://www.instagram.com/monstercat/" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="instagram">
                                    <h3>163k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-i"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="no-hover social-grid-wrapper spotify" href="https://open.spotify.com/user/monstercatmedia" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-sp"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="spotify">
                                    <h3>103k</h3>
                                    <p>listeners/mo</p>
                                </div>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper twitch" href="https://www.twitch.tv/monstercat/" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-tw"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="twitch">
                                    <h3>602k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="no-hover social-grid-wrapper soundcloud" href="https://soundcloud.com/Monstercat" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper"
                                  stats-name="soundcloud">
                                    <h3>672k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-so"></i>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper apple" href="http://monster.cat/iTunes-5Year" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="apple">
                                    <h3>139k</h3>
                                    <p>users</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-a"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>

<script type="text/template"
        completed="completedHome"
        template-name="home-featured"
        transform="transformHome">
    {{#loading}}
    {{>loading-view-black}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <div class="top-banner">
        {{#featured}}
        <div class="banner banner--scaled">
            <div class="banner" style="background-image:url({{coverBig}}">
                <div class="banner-shade"></div>
                <div class="gradient"></div>
            </div>
        </div>
        <div class="container flex">
            <div class="col-xs-12 col-sm-12 col-md-4 featured-artwork">
                <a class="silent" href="/release/{{catalogId}}">
                    <img class="shadow responsive" src="{{coverBig}}"/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 cl-white featured-details">
                {{#inEarlyAccess}}
                <span class="tag">Early Access</span>
                {{/inEarlyAccess}}
                {{^inEarlyAccess}}
                <span class="tag">Featured</span>
                {{/inEarlyAccess}}
                <a class="silent no-hover" href="/release/{{catalogId}}">
                    <h1 class="title uppercase">{{title}}</h1>
                </a>
                <h3>By {{artists}}</h3>
                <p class="date">
                    {{>albumReleaseDates}}
                </p>
                {{#inEarlyAccess}}
                    {{#hasGoldAccess}}
                        <a href="/release/{{catalogId}}" class="button button--cta button--icon">
                            Listen Early
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <div class="early-access-message">
                            {{goldThankYou}}
                        </div>
                    {{/hasGoldAccess}}
                    {{^hasGoldAccess}}
                    <a href="/account/services?gold" class="button button--cta button--icon">
                        Get Gold to Listen Early
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="early-access-message">
                        <a href="/gold">Monstercat Gold</a> members can stream releases 24hrs early.
                    </div>
                    {{/hasGoldAccess}}
                {{/inEarlyAccess}}
                {{^inEarlyAccess}}
                    <a href="/release/{{catalogId}}" class="button button--cta button--icon">
                        View
                        <i class="fa fa-chevron-right"></i>
                    </a>
                {{/inEarlyAccess}}
            </div>
        </div>
        {{/featured}}
        <div class="container latest cl-white">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">New Releases</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="/music" class="button button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
            <ul class="art-list art-list--full-width">
                {{#releases}}
                    {{>release-list-item}}
                {{/releases}}
            </ul>
        </div>
    </div>
    <div class="hero cl-white">
        <div class="banner" style="background-image:url(/img/banner.jpg)">
            <div class="banner-shade"></div>
            <div class="gradient gradient--inverted"></div>
        </div>
        <div class="container">
            <h3 class="playfair">We're <em>proudly</em> proving that</h3>
            <h1 class="line-bottom"> Independent labels have the ability to reshape the music industry.</h1>
        </div>
    </div>
    {{/data}}
</script>

<script type="text/template"
        template-name="home-podcast"
        transform="transformPodcast">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <section class="v-padding podcast">
        <div class="container latest">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">Latest Podcast</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="https://www.monstercat.com/podcast" class="button button--black button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
            <ul class="art-list art-list--full-width">
                {{#podcasts}}
                <li>
                    <a class="silent" href="/release/{{catalogId}}" title="{{title}}">
                        <div class="image-wrapper">
                            <img src="/img/artwork.jpg" class="preload" />
                            <img src="{{cover}}"/>
                        </div>
                        <label class="title one-line-ellipsis">{{episode}}</label>
                        <br/>
                        <label class="artist one-line-ellipsis">Monstercat Podcast</label>
                    </a>
                </li>
                {{/podcasts}}
            </ul>
        </div>
    </section>
    {{/data}}
</script>

<script type="text/template"
        template-name="home-merch"
        transform="transformMerch">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <section class="v-padding merch">
        <div class="container latest">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">Featured Merch</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="https://shop.monstercat.com" class="button button--black button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
            <ul class="art-list art-list--full-width">
            {{#products}}
                <li>
                    <a class="silent" href="https://shop.monstercat.com/products/{{handle}}" target="_BLANK" title="{{title}}">
                        <div class="image-wrapper">
                            <img src="/img/artwork-merch.jpg" class="preload" />
                            <img src="{{ images.0.src }}"/>
                        </div>
                        <label class="title one-line-ellipsis">{{title}}</label>
                        <br/>
                        <label class="artist one-line-ellipsis">${{variants.0.price}} USD</label>
                    </a>
                </li>
            {{/products}}
            </ul>
        </div>
    </section>
    {{/data}}
</script>

<script type="text/template"
        template-name="blog-stories"
        transform="transformBlogPosts">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <section class="v-padding blog">
        <div class="container">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">New Posts</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="https://www.monstercat.com/blog/" class="button button--black button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
        </div>
        {{#posts}}
        <article class="flex">
            <div class="col-xs-12 col-sm-12 col-md-6 article-banner{{#isOdd}} col-md-last{{/isOdd}} banner--scaled">
                <a href="https://www.monstercat.com/blog/{{path}}" class="side-banner" style="background-image: url(https://www.monstercat.com{{image}});"></a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 article-details">
                <div class="article-wrapper">
                    <a class="silent no-hover" href="https://www.monstercat.com/blog/{{path}}" target="_BLANK">
                        <h2>{{title}}</h2>
                        <p class="date">{{date}}</p>
                        <p class="description">{{excerpt}}</p>
                    </a>
                    <a class="button button--black button--icon" href="https://www.monstercat.com/blog/{{path}}" target="_BLANK">
                        Read more
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </article>
        {{/posts}}
    </section>
    {{/data}}
</script>
