<script type="text/template"
        route="^(\?.*)?$"
        page-title="Monstercat">
    <div role="home-featured">
        <div source="$endpoint/catalog/release?limit=15" template="home-featured"></div>
    </div>
    <div source="https://shop.monstercat.com/collections/website-featured/products.json" template="home-merch"></div>
    <div source="$endpoint/catalog/release?filters=type,Podcast&limit=8" template="home-podcast"></div>
    {{>spotify-and-social}}
</script>

<script type="text/template"
        completed="completedHome"
        template-name="home-featured"
        transform="transformHome">
    {{#loading}}
    {{>loading-view-black}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <div class="top-banner">
        {{#featured}}
        <div class="banner banner--scaled">
            <div class="banner" style="background-image:url('{{coverBig}}')">
                <div class="banner-shade"></div>
                <div class="gradient"></div>
            </div>
        </div>
        <div class="container flex">
            <div class="col-xs-12 col-sm-12 col-md-4 featured-artwork">
                <a class="silent" href="/release/{{catalogId}}">
                    <img class="shadow responsive" src="{{coverBig}}"/>
                </a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 cl-white featured-details">
                {{#inEarlyAccess}}
                <span class="tag">Early Access</span>
                {{/inEarlyAccess}}
                {{^inEarlyAccess}}
                <span class="tag">Featured</span>
                {{/inEarlyAccess}}
                <a class="silent no-hover" href="/release/{{catalogId}}">
                    <h1 class="title uppercase">{{title}}</h1>
                </a>
                <h3>By {{artists}}</h3>
                <p class="date">
                    {{>albumReleaseDates}}
                </p>
                {{#inEarlyAccess}}
                    {{#hasGoldAccess}}
                        {{>home-play-button}}
                        <a href="/release/{{catalogId}}" class="button button--cta button--icon button--home-view">
                            View
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        <div class="early-access-message">
                            {{goldThankYou}}
                        </div>
                    {{/hasGoldAccess}}
                    {{^hasGoldAccess}}
                    <a href="/gold" class="button button--cta button--icon">
                        Get Gold to Listen Early
                        <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="early-access-message">
                        <a href="/gold">Monstercat Gold</a> members can stream releases 20hrs early.
                    </div>
                    {{/hasGoldAccess}}
                {{/inEarlyAccess}}
                {{^inEarlyAccess}}
                    {{>home-play-button}}
                    <a href="/release/{{catalogId}}" class="button button--cta button--icon button--home-view">
                        View
                        <i class="fa fa-chevron-right"></i>
                    </a>
                {{/inEarlyAccess}}
            </div>
        </div>
        {{/featured}}
        <div class="container latest cl-white">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">New Releases</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="/music" class="button button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
            <ul class="art-list art-list--full-width">
                {{#releases}}
                    {{>release-list-item}}
                {{/releases}}
            </ul>
        </div>
    </div>
    <div class="hero cl-white">
        <div class="banner" style="background-image:url(/img/banner.jpg)">
            <div class="banner-shade"></div>
            <div class="gradient gradient--inverted"></div>
        </div>
        <div class="container">
            <h1 class="line-bottom">Empowering a creative and passionate community through innovation.</h1>
        </div>
    </div>
    {{/data}}
</script>

<script type="text/template"
        template-name="home-play-button"
        mustache-name="home-play-button"
>
<input type="hidden" role="release-id" release-id="{{_id}}" />
<div style="display: none;"
    source="$endpoint/catalog/release/{{_id}}/tracks"
    template="release-tracks">
</div>
<a class="button button--cta button--icon button--icon button--home-play {{#inEarlyAccess}}early-access{{/inEarlyAccess}}"
        action="playSongs"
        role="play-release"
        release-id="{{_id}}">
    <span class="play"><i class="fa fa-play"></i> <span>{{#inEarlyAccess}}Listen Early{{/inEarlyAccess}}{{^inEarlyAccess}}Play{{/inEarlyAccess}}</span></span>
    <span class="pause"><i class="fa fa-pause"></i> <span>Pause</span></span>
</a>
</script>

<script type="text/template"
        template-name="home-podcast"
        transform="transformPodcast">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <section class="podcast">
        <div class="container latest">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">Call of the Wild</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="https://www.monstercat.com/cotw" class="button button--black button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
            <ul class="art-list art-list--full-width">
                {{#podcasts}}
                <li>
                    <a class="silent" href="/release/{{catalogId}}" title="{{title}}">
                        <div class="image-wrapper">
                            <img src="/img/artwork.jpg" class="preload" />
                            <img src="{{cover}}"/>
                        </div>
                    </a>
                </li>
                {{/podcasts}}
            </ul>
        </div>
    </section>
    {{/data}}
</script>

<script type="text/template"
        template-name="home-merch"
        transform="transformMerch">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <section class="v-padding merch">
        <div class="container latest">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">Featured Merch</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="https://shop.monstercat.com" class="button button--black button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
            <ul class="art-list art-list--full-width">
            {{#products}}
                <li>
                    <a class="silent" href="https://shop.monstercat.com/products/{{handle}}" target="_BLANK" title="{{title}}">
                        <div class="image-wrapper">
                            <img src="/img/artwork-merch.jpg" class="preload" />
                            <img src="{{ images.0.src }}"/>
                        </div>
                        <label class="title one-line-ellipsis">{{title}}</label>
                    </a>
                </li>
            {{/products}}
            </ul>
        </div>
    </section>
    {{/data}}
</script>

<script type="text/template"
        template-name="blog-stories"
        transform="transformBlog">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <section class="v-padding blog">
        <div class="container">
            <header class="flex top-cta">
                <div class="col-xs-6">
                    <h2 class="line-top">New Posts</h2>
                </div>
                <div class="col-xs-6 text right">
                    <a href="/news" class="button button--black button--icon button--transparent">
                        View all
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
            </header>
        </div>
        {{#results}}
            {{>blog-article}}
        {{/results}}
    </section>
    {{/data}}
</script>

<script type="text/template"
        mustache-name="spotify-and-social">
    <div class="flex social">
        <div class="col-xs-12 col-sm-12 col-md-6 text right cl-white spotify-wrapper clearfix">
            <div class="container-left clearfix">
                <header>
                    <h2 class="line-top">Listen on Spotify</h2>
                </header>
                <ul class="spotify-playlists">
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia/playlist/42Jx4YFqtHWkQtgZAouE6B" target="_BLANK">
                            <div style="background-image:url(/img/spotify/spotify_dance.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title">
                                <h3>MONSTERCAT</h3>
                                <h2>Dance / Pop</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia/playlist/0yhoHnC8I50mRCJn5bGVBa" target="_BLANK">
                            <div style="background-image:url(/img/spotify/spotify_gaming.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title">
                                <h3>MONSTERCAT</h3>
                                <h2>Gaming</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia/playlist/5DCNkb3XkXyhTtc93qwRHL" target="_BLANK">
                            <div style="background-image:url(/img/spotify/spotify_workout.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title">
                                <h3>MONSTERCAT</h3>
                                <h2>Workout</h2>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="silent" href="https://open.spotify.com/user/monstercatmedia" target="_BLANK">
                            <div style="background-image:url(/img/spotify/spotify_view.jpg)" class="spotify-artwork"/></div>
                            <div class="spotify-title">
                                <h3>NEED MORE?</h3>
                                <h2>View All</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 text left followers">
            <div class="container-right">
                <header>
                    <h2 class="line-top">Join the Family</h2>
                </header>
                <ul class="social-grid">
                    <li>
                        <a class="no-hover social-grid-wrapper youtube" href="https://www.youtube.com/user/MonstercatMedia" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-y"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="youtube">
                                    <h3>4.7m</h3>
                                    <p>subscribers</p>
                                </div>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper twitter" href="https://twitter.com/monstercat" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-t"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="twitter">
                                    <h3>299k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="no-hover social-grid-wrapper facebook" href="https://www.facebook.com/monstercat" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="facebook">
                                    <h3>800k</h3>
                                    <p>likes</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-f"></i>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper instagram" href="https://www.instagram.com/monstercat/" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="instagram">
                                    <h3>163k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-i"></i>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="no-hover social-grid-wrapper spotify" href="https://open.spotify.com/user/monstercatmedia" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-sp"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="spotify">
                                    <h3>103k</h3>
                                    <p>listeners/mo</p>
                                </div>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper twitch" href="https://www.twitch.tv/monstercat/" target="_BLANK">
                            <div class="icon">
                                <i class="fa fa-social-tw"></i>
                            </div>
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="twitch">
                                    <h3>602k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="no-hover social-grid-wrapper soundcloud" href="https://soundcloud.com/Monstercat" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper"
                                  stats-name="soundcloud">
                                    <h3>672k</h3>
                                    <p>followers</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-so"></i>
                            </div>
                        </a>
                        <a class="no-hover social-grid-wrapper apple" href="http://monster.cat/iTunes-5Year" target="_BLANK">
                            <div class="stats grey-square">
                                <div class="stats-wrapper" stats-name="apple">
                                    <h3>139k</h3>
                                    <p>users</p>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa fa-social-a"></i>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>
