
<script type="text/template"
        mustache-name="markdown-basic">
    <div class="container">
        {{#loading}}
        {{>loading-view}}
        {{/loading}}
        {{#error}}
        <p>{{message}}</p>
        {{/error}}
        {{#data}}
        <div class="panel md-container">
        {{{data}}}
        </div>
        {{/data}}
    </div>
</script>

<script type="text/template"
        route="^faqs(?:\/|\/general)?$"
        transform="transformMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/site/General%20Questions.md">
    {{>markdown-basic}}
</script>

<script type="text/template"
        route="^faqs\/whitelisting\/?$"
        transform="transformMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/site/Whitelisting.md">
    {{>markdown-basic}}
</script>

<script type="text/template"
        route="^faqs/migration-notice\/?$"
        source-type="markdown"
        transform="transformMarkdown"
        completed="completedMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/connect/FAQ/Migration%20Notice.md">
    {{>markdown-basic}}
</script>

<script type="text/template"
        route="^twitch-policy\/?$"
        transform="transformMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/Twitch%20Policy.md">
    {{>markdown-basic}}
</script>

<script type="text/template"
        route="^privacy-policy\/?$"
        transform="transformMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/connect/Privacy%20Policy.md">
    {{>markdown-basic}}
</script>

<script type="text/template"
        route="^terms-of-service\/?$"
        transform="transformMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/connect/Terms%20of%20Service.md">
    {{>markdown-basic}}
</script>

<script type="text/template"
        route="^non-licensable-tracks\/?$"
        source-type="markdown"
        transform="transformMarkdown"
        source="https://connect.monstercat.com/handbook/licensing">
    {{>markdown-basic}}
</script>

<script type="text/template"
        route="^dev\/api\/connect\/?$"
        transform="transformMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/connect/api/alpha/README.md">
  {{>markdown-basic}}
</script>

<script type="text/template"
        route="^halloween-stencils\/?$"
        transform="transformMarkdown"
        source="https://raw.githubusercontent.com/monstercat/docs/master/halloween-stencils.md">
  {{>markdown-basic}}
</script>
