
<script type="text/template"
        template-name="release-shopping-modal">
    <div class="modal modal--release">
        <div class="panel pointer-events">
            <h1>Support this Release</h1>
            {{#loading}}
            {{>loading-inner-view}}
            {{/loading}}
            {{#error}}
            <p>{{message}}</p>
            {{/error}}
            {{#data}}
            <ul>
                {{#purchaseLinks}}
                <li><a target="_blank" class="button" href="{{url}}">{{name}}</a></li>
                {{/purchaseLinks}}
            </ul>
            {{/data}}
            <button class="button--close faux" action="closeModal">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/template"
        template-name="release-art-modal">
    <div class="modal modal--artwork">
        <div class="pointer-events">
            <a href="{{src}}" target="_blank">
                <img src="{{src}}"/>
            </a>
        </div>
    </div>
</script>

<script type="text/template" template-name="subscription-required-modal">
    <div class="modal">
        <div class="panel panel--padded pointer-events">
            <h1>Get Gold!</h1>
            <div class="modal-content">
              <h2 class="pricing">$5/month</h2>
              <ul>
                  <li>Download Monstercat songs in your preferred format</li>
                  <li>Early streaming access to new releases</li>
                  <li>Directly support the artists</li>
                  <li>and more!</li>
              </ul>
            </div>
            {{^hasGold}}
                {{#signedIn}}
                    <a class="button button--cta" href="/account/services" action="closeModal">Get your Gold membership!</a>
                {{/signedIn}}
            {{/hasGold}}
            {{^signedIn}}
                <a class="button button--cta" href="/sign-up?redirect=%2Faccount%2Fservices%3Fgold" action="closeModal">Sign up for an account!</a>
            {{/signedIn}}
            <button class="button--close faux" action="closeModal">
              <i class="fa fa-remove"></i>
            </button>
            <span class="or">or</span>
            <a href="/gold">learn more</a>
        </div>
    </div>
</script>


<script type="text/template" template-name="freedownload-for-users-modal">
    <div class="modal">
        <div class="panel panel--padded pointer-events">
            <h1>Sign Up to Download!</h1>
            <div class="modal-content">
                Get a Monstercat.com account to get the free download of {{trackTitle}}{{releaseTitle}}.
            </div>
            <a class="button button--cta" href="/sign-up?redirect={{redirect}}" action="closeModal">Sign up to download!</a>
            <button class="button--close faux" action="closeModal">
              <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
</script>
