<script type="text/template"
        route="^catalog"
        page-title="Catalog Music"
        transform="transformCatalogMusic"
        completed="completedCatalogMusic">
    {{#data}}
    <div class="container">
        <div class="flex" data-set="browse-filters">
            <div class="col-xs-12 browse-filters browse-filters--table" source="$endpoint/catalog/browse/filters"
                 template="catalog-filters">
            </div>
            <div class="col-xs-12 catalog-table" role="catalog-pages"></div>
        </div>
    </div>
    {{/data}}
</script>

<script type="text/template"
        transform="transformCatalogFilters"
        completed="completedCatalogFilters"
        template-name="catalog-filters">
    {{#loading}}{{>loading-view}}{{/loading}}
    {{#error}}<p>{{message}}</p>{{/error}}
    {{#data}}
    <div class="flex">
      <div class="col-xs-12 col-md-10 flex browse-fieldsets">
        <fieldset class="filter-group">
          <input type="text" placeholder="Search" name="search" value="{{search}}" trigger-target="filterBrowseMusic" />
        </fieldset>
        <fieldset class="filter-group">
          <select name="type" onchange="addBrowseFilter(null, this)">
            <option value="">Release Type</option>
            {{#types}}
            <option value="{{.}}">{{.}}</option>
            {{/types}}
          </select>
        </fieldset>
        <fieldset class="filter-group">
          <select name="genre" onchange="addBrowseFilter(null, this)">
            <option value="">Genre</option>
            {{#genres}}
            <option value="{{name}}">{{name}}</option>
            {{/genres}}
          </select>
        </fieldset>
        <fieldset class="filter-group">
          <select name="tag" onchange="addBrowseFilter(null, this)">
            <option value="">Tag</option>
            {{#tags}}
            <option value="{{.}}">{{.}}</option>
            {{/tags}}
          </select>
        </fieldset>
      </div>

      <div class="col-xs-12 col-md-2 button-group button-group--filters">
          <button class="button--cta button--full" action="filterBrowseMusic" trigger="filterBrowseMusic" data-set-target="browse-filters">Apply</button>
      </div>
    </div>
    <div>
    </div>
    {{/data}}
</script>

<script type="text/template"
        template-name="catalog-page">
    <div template="catalog-rows" source="{{source}}"></div>
    </footer>
</script>

<script type="text/template"
        mustache-name="catalog-sorting-header">
<a href="#" class="{{#sorting}}sorting-active {{/sorting}}{{#desc}}sorting-desc {{/#desc}}{{#asc}}sorting-asc{{/asc}}">{{label}}</a>
</script>

<script type="text/template"
        template-name="catalog-rows"
        transform="transformMusicCatalogResults"
        completed="completedBrowseFilters">
  {{#loading}}{{>loading-view}}{{/loading}}
  {{#error}}<p>{{message}}</p>{{/error}}
  {{#data}}
  <header class="flex">
    <div class="col-xs-12 col-sm-6 browse-table-tags">
      <ul class="filter-list" role="filters-list-types"></ul>
      <ul class="filter-list" role="filters-list-genres"></ul>
      <ul class="filter-list" role="filters-list-tags"></ul>
    </div>
    <div class="col-xs-12 col-sm-6 pagination-right">
      {{>searchPagination}}
    </div>
  </header>
  <table class="one-line">
    <thead>
      <tr>
        <th></th>
        {{#tableHeaders}}
          <th class="{{#xsHidden}}col-xs-hidden col-md-visible{{/xsHidden}}{{#active}} active{{/active}}">
            <a href="{{href}}">
              {{label}} 
              {{#active}}<span class="fa {{#asc}}fa-sort-asc{{/asc}}{{#desc}}fa-sort-desc{{/desc}}"></span>{{/active}}
              {{^active}}<span class="fa fa-sort"></span>{{/active}}
            </a>
          </th>
        {{/tableHeaders}}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{^results.length}}
      <tr>
        <td colspan="9" class="empty-message">
          No tracks found.
        </td>
      </tr>
      {{/results.length}}
      {{#results}}
      <tr dblc-action="playSongDblC">
        <td>
          {{>playSong}}
        </td>
        <td class="longer-width">
          <div class="scroll-container"
               onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
            <span class="scroll-title artists">{{title}}</span>
          </div>
          {{>unlicensable}}
        </td>
        <td class="longer-width artists">
            <div class="scroll-container"
               onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
            <span class="scroll-title">
              {{>artists-csv-list}}
            </span>
          </div>
        </td>
        <td class="longer-width">
          <div class="scroll-container"
               onmouseover="scrollTrackTitle(this)" onmouseleave="removeScrollTrackTitle(this)">
            <a class="scroll-title" href="/release/{{release.catalogId}}">
              {{release.title}}
            </a>
          </div>
        </td>
        <td class="col-xs-hidden col-md-visible">{{time}}</td>
        <td class="col-xs-hidden col-md-visible">{{bpm}}</td>
        <td class="col-xs-hidden col-md-visible">{{genre}}</td>
        <td class="col-xs-hidden col-md-visible">
          {{releaseDate.month}}&nbsp;{{releaseDate.day}},&nbsp;{{releaseDate.year}}
        </td>
        <td>{{>trackButtons}}</td>
      </tr>
      {{/results}}
    </tbody>
  </table>
  <footer class="pagination-right">{{>searchPagination}}</footer>
  {{/data}}
</script>
