<script type="text/template"
        route="^(:?(\?.*)?$|music(\?.*)?)"
        page-title="Music"
        completed="completedMusic"
        transform="transformMusic">
    {{#data}}
    <div source="$endpoint/catalog/release?{{query}}"
         template="music-releases">
    </div>
    {{/data}}
</script>

<script type="text/template"
        template-name="music-releases"
        transform="transformMusicReleases">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <div class="container panel">
        <p>{{message}}</p>
    </div>
    {{/error}}
    {{#data}}
    <div class="container">
        <header class="flex top-title">
            <div class="col-xs-6">
                <h1>Releases</h1>
            </div>
            <div class="col-xs-6 text right">
                <a href="/browse" class="button button--black button--icon button--transparent">
                    Browse Advanced Options
                    <i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </header>
        <ul class="panel art-list">
            {{#results}}
            {{>release-list-item}}
            {{/results}}
        </ul>
    </div>
    {{^total}}
    <div class="container text center panel">No results found.</div>
    {{/total}}
    {{#total}}
      <div class="container pagination pad-vertical text center">
          {{#previous}}
            <a href="?{{previous}}">Previous</a>
          {{/previous}}
          <label>{{showingFrom}} - {{showingTo}} of {{total}}</label>
          {{#next}}
            <a href="?{{next}}">Next</a>
          {{/next}}
      </div>
    {{/total}}
    {{/data}}
</script>

<script type="text/template"
        route="^release\/(.*)"
        source="$endpoint/catalog/release/$1"
        transform="mapRelease"
        completed="completedRelease">
    {{#loading}}
    {{>loading-view-black}}
    {{/loading}}
    {{#error}}
    <div class="container panel">
        <p>{{message}}</p>
    </div>
    {{/error}}
    {{#data}}
    <div class="bgbox banner--scaled">
        <div class="bgbox" style="background-image: url('{{coverBig}}')">
            <div class="bgbox-blanket cl-white">
                <div class="details-box container clearfix">
                    <img class="artwork" src="{{cover}}" action="openReleaseArt" big-src="{{coverBig}}"/>
                    <h1 release-id="{{_id}}" catalog-id="{{catalogId}}">{{title}}</h1>
                    <h2>{{artists}}</h2>
                    <label>
                        {{>albumReleaseDates}}
                    </label>
                    <div class="options push-right">
                        {{^inEarlyAccess}}
                            {{#streamable}}
                                {{>playRelease}}
                            {{/streamable}}
                            {{#share}}
                            <a class="silent" href="{{share}}" target="_blank" title="Spotify">
                                <i class="fa fa-social-sp"></i>
                            </a>                            
                            {{/share}}
                            <a class="silent"
                            href="{{downloadLink}}"
                            target="_blank"
                            release-title="{{title}}"
                            title="Download {{title}}"
                            free-download-for-users="{{freeDownloadForUsers}}"
                            action="accessDownloadOrModal">
                                <i class="fa fa-cloud-download"></i>
                            </a>
                            <button class="faux"
                                    title="License this release"
                                    action="openReleaseLicensing">
                                <i class="fa fa-copyright"></i>
                            </button>

                            {{#purchase}}
                            <button class="faux" action="openPurchaseRelease" title="Buy this release">
                                <i class="fa fa-shopping-bag"></i>
                            </button>
                            {{/purchase}}
                        {{/inEarlyAccess}}
                        {{#inEarlyAccess}}
                            {{#streamable}}
                                <button class="button button--cta button--icon"
                                        action="playSongs"
                                        role="play-release"
                                        release-id="{{_id}}">
                                        Listen Early 
                                    <i class="fa fa-play inactive"></i>
                                    <i class="fa fa-pause active"></i>
                                </button>
                            {{/streamable}}
                            {{^streamable}}
                                <a href="/gold" class="button button--cta button--icon">
                                    GET GOLD to LISTEN EARLY
                                    <i class="fa fa-play"></i>
                                </a>
                            {{/streamable}}
                        {{/inEarlyAccess}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="release container" >
        <div class="panel panel--mobile"
            source="$endpoint/catalog/release/{{_id}}/tracks"
            template="release-tracks">
        </div>
    </div>
    {{/data}}
</script>

<script type="text/template"
        mustache-name="unlicensable">
{{^licensable}}<div class="unlicensable">This track can't be licensed. <a href="/non-licensable-tracks">Read more</a></div>{{/licensable}}
</script>

<script type="text/template"
        mustache-name="early-access-msg">
{{#inEarlyAccess}}
<div class="in-early-access-msg">
    {{^hasGoldAccess}}
        Early streaming for <a href="/gold">Gold</a> members only.
    {{/hasGoldAccess}}
    {{#hasGoldAccess}}
        Early streaming because you have Gold.
    {{/hasGoldAccess}}
</div>
{{/inEarlyAccess}}
</script>

<script type="text/template"
        mustache-name="playRelease">
<button class="faux"
        action="playSongs"
        role="play-release"
        release-id="{{_id}}">
    <i class="fa fa-play inactive"></i>
    <i class="fa fa-pause active"></i>
</button>
</script>

<script type="text/template"
        mustache-name="trackCells">
<td>{{title}}{{>early-access-msg}}{{>unlicensable}}</td>
{{#playlistId}}
<td><a href="/release/{{releaseId}}">{{release}}</a></td>
{{/playlistId}}
<td>
    {{^artists}}
    Id
    {{/artists}}
    {{#artists}}
    <a href="/artist/{{uri}}">{{name}}</a>
    {{/artists}}
</td>
<td class="col-xs-hidden col-md-visible genre">{{#genre}}<span>{{.}}</span>{{/genre}}</td>
<td class="col-xs-hidden col-md-visible">{{time}}</td>
<td class="col-xs-hidden col-md-visible">{{bpm}}</td>
</script>

<script type="text/template"
        mustache-name="playSong">
{{#streamable}}
<button class="faux button--mobile{{#inEarlyAccess}} in-early-access{{/inEarlyAccess}}"
        action="playSong"
        role="play-song"
        play-link="{{playUrl}}"
        title="{{title}}"
        index="{{index}}"
        track-id="{{_id}}"
        {{#licensable}}licensable{{/licensable}}
        {{#playlistId}}playlist-id="{{playlistId}}"{{/playlistId}}
        release-id="{{releaseId}}">
    <i class="fa fa-play-circle inactive"></i>
    <i class="fa fa-pause-circle active"></i>
</button>
{{/streamable}}
{{^streamable}}
    {{#inEarlyAccess}}
        <button class="faux button--mobile{{#inEarlyAccess}} in-early-access{{/inEarlyAccess}}"
                action="accessGoldOrModal"
                title="{{title}}">
            <i class="fa fa-play-circle inactive"></i>
        </button>
    {{/inEarlyAccess}}
{{/streamable}}
</script>

<script type="text/template"
        mustache-name="trackButtons">
{{#showDownloadLink}}
<a class="silent button--mobile"
   target="_blank"
   title="Download Track"
   free-download-for-users="{{freeDownloadForUsers}}"
   track-title="{{title}}"
   action="accessDownloadOrModal"
   href="{{downloadLink}}">
    <i class="fa fa-cloud-download"></i>
</a>
{{/showDownloadLink}}
{{#streamable}}
<a class="silent button--mobile"
   target="_blank"
    action="openTrackLicensing"
    release-id="{{releaseId}}"
    track-id="{{_id}}">
    <i class="fa fa-copyright"></i> 
    <span class="col-xs-hidden">License</span>
</a>
{{/streamable}}
</script>

<script type="text/template"
        template-name="release-tracks"
        transform="transformReleaseTracks"
        completed="completedReleaseTracks">
    <table>
        <thead>
            <tr>
                <th class="shrink">#</th>
                <th class="shrink nohpad"></th>
                <th>Title</th>
                <th>Artists</th>
                <th class="col-xs-hidden col-md-visible">Genre</th>
                <th class="col-xs-hidden col-md-visible">Time</th>
                <th class="col-xs-hidden col-md-visible">BPM</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#loading}}
            <tr><td class="loading-table" colspan="10"><i class="fa fa-spin fa-refresh"></i></td></tr>
            {{/loading}}
            {{#error}}
            <tr><td colspan="5"><p>{{message}}</p></td></tr>
            {{/error}}
            {{#data}}
            {{#results}}
            <tr dblc-action="playSongDblC">
                <td class="shrink">{{trackNumber}}.</td>
                <td class="shrink nohpad">
                  {{>playSong}}
                </td>
                {{>trackCells}}
                <td class="push-right">
                    {{>trackButtons}}
                    {{#canPlaylist}}
                    <select
                        onchange="addToPlaylist(null, this)"
                        source="$endpoint/playlist"
                        class="col-xs-hidden col-md-visible inline"
                        template="select-playlist"
                        release-id="{{releaseId}}"
                        track-id="{{_id}}">
                    </select>
                    {{/canPlaylist}}
                </td>
            </tr>
            {{/results}}
            {{/data}}
        </tbody>
    </table>
    {{#data}}
    {{#hiddenTracks}}
    <br />
    <p>This release contains <strong>{{hiddenTracks}} more songs</strong> that will be available when it is fully released. <a href="/gold">Monstercat Gold</a> subscribers will be able to stream them 20hrs early.</p>
    {{/hiddenTracks}}
    {{/data}}
</script>

<script type="text/template"
        route="^artist\/(.*)"
        page-title="Artist"
        transform="mapWebsiteDetails"
        completed="completedArtist"
        source="$endpoint/catalog/artist/$1">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <div class="container panel">
        <p>{{message}}</p>
    </div>
    {{/error}}
    {{#data}}
    <div class="bgbox banner--scaled">
        <div class="bgbox" style="background-image: url('{{image}}');
          background-position: center {{imagePositionY}}%;">
            <div class="bgbox-blanket cl-white">
                <div class="details-box container clearfix">
                    {{#image}}
                    <img class="artwork" src="{{image}}" big-src="{{image}}" action="openReleaseArt"/>
                    {{/image}}
                    <h1>{{name}}</h1>
                    <div class="options push-right">
                        {{#socials}}
                        <a href="{{link}}" target="_blank"><i class="fa fa-{{icon}}"></i></a>
                        {{/socials}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {{#about}}
        <div class="panel">
            <h2>About</h2>
            <p>{{about}}</p>
        </div>
        {{/about}}
        {{#contact}}
        <div class="panel">
            <h2>Booking & Management</h2>
            <br/>
            <p>{{booking}}</p>
            <br/>
            <p>{{management}}</p>
        </div>
        {{/contact}}
        <div class="panel">
            <h2>Discography</h2>
            <div source="$endpoint/catalog/artist/{{_id}}/releases"
                template="user-releases">
            </div>
        </div>
    </div>
    {{/data}}
</script>

<script type="text/template"
        mustache-name="albumReleaseDates">
    {{^inEarlyAccess}}
        {{#preReleaseDate}}Pre-Released on {{preReleaseDate}}{{/preReleaseDate}}
        {{#releaseDate}}Released on {{releaseDate}}{{/releaseDate}}
    {{/inEarlyAccess}}
    {{#inEarlyAccess}}
        {{#preReleaseDateObj}}Pre-Releases in <span role="countdown" class="countdown" to="{{preReleaseDateObj}}" completed="featuredReleaseCountdownEnd"></span>{{/preReleaseDateObj}}
        {{#releaseDateObj}}Releases in <span role="countdown" class="countdown" to="{{releaseDateObj}}" completed="featuredReleaseCountdownEnd"></span>{{/releaseDateObj}}
    {{/inEarlyAccess}}
</script>

<script type="text/template"
        template-name="user-releases"
        transform="transformReleases">
    {{#loading}}
    {{>loading-inner-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <ul class="art-list art-list--full-width discography">
        {{#results}}
            {{>release-list-item}}
        {{/results}}
    </ul>
    {{/data}}
</script>


<script type="text/template"
        mustache-name="release-list-item">
    <li class="{{#inEarlyAccess}}in-early-access{{/inEarlyAccess}}">
        <a class="silent" href="/release/{{catalogId}}" title="{{title}} / {{artists}}">
            <div class="image-wrapper">
                <img src="/img/artwork.jpg" class="preload" />
                <img src="{{cover}}"/>
            </div>
            <label class="title one-line-ellipsis">{{title}}</label>
            <br/>
            <label class="artist one-line-ellipsis">{{artists}}</label>
        </a>
    </li>        
</script>
