<script type="text/template"
        route="^artists\/?"
        transform="transformRoster"
        completed="completedRoster"
        page-title="Artists">
    <div class="container">
        <h1>Artists</h1>
        <div class="panel">
            {{#data}}
            <!-- desktop year selector -->
            <ul class="col-xs-hidden col-sm-visible button-list">
                <!--<li>
                    <a class="button {{^selectedYear}}selected-year{{/selectedYear}}" 
                        href="/artists">Featured</a>
		</li>-->
                {{#years}}
                    <li>
                        <a class="button {{#selected}}selected-year{{/selected}}"
                            href="/artists/?year={{year}}">{{year}}</a>
                    </li>
                {{/years}}
            </ul>
            <!-- mobile year selector -->
            <div class="col-xs-visible col-sm-hidden">
                <select class="select-year" role="roster-select">
                    <option value="0">Featured</option>
                    {{#years}}
                        <option {{#selected}}selected="selected"{{/selected}} 
                                value="{{year}}">{{year}}</option>
                    {{/years}}
                </select>
            </div>
            <div
            source="$endpoint/catalog/artist?fields=name,websiteDetailsId,vanityUri,profileImageBlobId,profileImageUrl&filters=years,{{selectedYear}}"
                 template="roster-year">
            </div>
            {{/data}}
        </div>
    </div>
</script>

<script type="text/template"
        template-name="roster-year"
        transform="transformRosterYear">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <ul class="art-list artist-list">
        {{#results}}
        <li>
            <a class="silent" href="/artist/{{uri}}" title="{{name}}">
                {{#image}}
                <div class="image-wrapper">
                    <img src="/img/artist.jpg" class="preload" />
                    <img src="{{.}}?image_width=512"/>
                </div>
                {{/image}}
                {{^image}}
                <div class="no-art">
                    <label>No image.</label>
                </div>
                {{/image}}
                <div class="hover-wrapper">
                    <label class="title one-line-ellipsis">{{name}}</label>
                </div>
            </a>
        </li>
        {{/results}}
    </ul>
    {{/data}}
</script>
