<script type="text/template"
        route="^tickets"
        page-title="Tickets">
    <div class="container">
        <h1>Tickets</h1>
        <div class="panel">
            Check back here for info on tickets to upcoming Monstercat events.
        </div>
    </div>
    <div class="tickets-footer">
        <div class="banner" style="background-image:url(/img/banner.jpg)">
            <div class="banner-shade"></div>
            <div class="gradient gradient--inverted"></div>
        </div>
        <h3>Follow us on Twitter</h3>
        <a class="button button--cta" href="https://twitter.com/Monstercat">@Monstercat</a>
    </div>
</script>