<script type="text/template"
        route="^browse"
        page-title="Browse Music"
        completed="completedBrowseMusic"
        transform="transformBrowseMusic">
    {{#data}}
    <div class="container">
        <table data-set="browse-music"
               trigger-target="filterBrowseMusic"
               class="form">
            <tbody>
                <tr>
                    <th>Tags</th>
                    <td>
                        <input type="text" name="tags" placeholder="Song Tags" />
                    </td>
                </tr>
                <tr>
                    <th>Genres</th>
                    <td>
                        <input type="text" name="genres" placeholder="Song Genres" />
                    </td>
                </tr>
                <tr>
                    <th>Types</th>
                    <td>
                        <ul>
                        {{#releaseTypes}}
                            <li>
                                <input type="checkbox" name="types" value="{{key}}" id="type-{{key}}" {{#checked}}checked="true"{{/checked}} />
                                <label for="type-{{key}}">{{name}}</label>
                            </li>
                        {{/releaseTypes}}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <button action="filterBrowseMusic" trigger="filterBrowseMusic" data-set-target="browse-music">Filter</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container"
         source="$endpoint/catalog/browse?{{query}}"
         template="music-browse">
    </div>
    {{/data}}
</script>

<script type="text/template"
        template-name="music-browse"
        transform="transformMusicBrowseResults">
    {{#loading}}
    {{>loading-view}}
    {{/loading}}
    {{#error}}
    <p>{{message}}</p>
    {{/error}}
    {{#data}}
    <ul>
        {{#results}}
        <li>
            <a href="/release/{{catalogId}}">{{title}}</a>
            <label>{{artists}}</label>
            <label>{{type}}</label>
            <label>
                {{#preReleaseDate}}Pre-Released {{preReleaseDate}}{{/preReleaseDate}}
                {{#releaseDate}}Released {{releaseDate}}{{/releaseDate}}
            </label>
            <img src="{{cover}}" />
            <table>
                <tbody>
                    {{#tracks}}
                    <tr>
                        <td class="shrink">{{>playSong}}</td>
                        {{>trackCells}}
                        <td>
                            {{>trackButtons}}
                            {{#canPlaylist}}
                            <select
                                onchange="addToPlaylist(null, this)"
                                source="$endpoint/playlist"
                                template="select-playlist"
                                track-id="{{_id}}">
                            </select>
                            {{/canPlaylist}}
                        </td>
                    </tr>
                    {{/tracks}}
                </tbody>
            </table>
        </li>
        {{/results}}
    </ul>
    {{^total}}
    <div>No results found.</div>
    {{/total}}
    {{/data}}
</script>
