
<script type="text/template"
        template-name="track-copycredits-modal"
        transform="loadReleaseAndTrack">
    <div class="modal modal--copy-credit">
        <div class="panel pointer-events">
            <h1>Video Crediting</h1>
            {{#loading}}
            {{>loading-inner-view}}
            {{/loading}}
            {{#error}}
            <p>{{message}}</p>
            {{/error}}
            {{#data}}
            <p>As a content creator, you can use Monstercat music on YouTube easily! Just copy the crediting text and add it to your original content. No promoter or visualizer based uploads are allowed. For <a href="http://monstercat.com/licensing.html">commercial license click here</a>.</p>

            <p><small>If you would like to monetize your videos please <a href="{{#signedIn}}http://monstercat.com/account/services{{/signedIn}}{{^signedIn}}https://www.monstercat.com/sign-up?redirect=%2faccount%2fservices{{/signedIn}}">purchase a YouTube license</a>. Otherwise you will receive a copyright claim and will not be able to monetize your video. </small></p>

            <textarea class="copycredits">{{track.copycredit}}</textarea>
            {{/data}}
            <button class="button--close faux" action="closeModal">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/template"
        template-name="release-shopping-modal">
    <div class="modal modal--release">
        <div class="panel pointer-events">
            <h1>Support this Release</h1>
            {{#loading}}
            {{>loading-inner-view}}
            {{/loading}}
            {{#error}}
            <p>{{message}}</p>
            {{/error}}
            {{#data}}
            <ul>
                {{#purchaseLinks}}
                <li><a target="_blank" class="button" href="{{url}}">{{name}}</a></li>
                {{/purchaseLinks}}
            </ul>
            {{/data}}
            <button class="button--close faux" action="closeModal">
                <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
</script>

<script type="text/template"
        template-name="release-art-modal">
    <div class="modal modal--artwork">
        <div class="pointer-events">
            <a href="{{src}}" target="_blank">
                <img src="{{src}}"/>
            </a>
        </div>
    </div>
</script>

<script type="text/template" template-name="subscription-required-modal">
    <div class="modal">
        <div class="panel panel--padded pointer-events">
            <h1>Get Gold!</h1>
            <div class="modal-content">
              <h2 class="pricing">$5/month</h2>
              <p>Monstercat Gold Membership allows you to download any of the music in FLAC, MP3, and WAV formats.</p>
              <br/>
              <ul>
                  <li>Unlimited download and streaming access to the Monstercat catalog (800+ full songs)</li>
                  <li>Direct support via e-mail and on site.</li>
              </ul>
            </div>
            {{^hasGold}}
                {{#signedIn}}
                    <a class="button button--cta" href="/account/services" action="closeModal">Get your Gold membership!</a>
                {{/signedIn}}
            {{/hasGold}}
            {{^signedIn}}
            <a class="button button--cta" href="/sign-up" redirect-to="/account/services" action="closeModal">Sign up for an account!</a>
            {{/signedIn}}
            <button class="button--close faux" action="closeModal">
              <i class="fa fa-remove"></i>
            </button>
        </div>
    </div>
</script>

