* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  background: white;
  font-weight: normal;
  font-size: 100%;
  color: #383838;
}

body,
input[type="text"],
input[type="password"] {
  font-family: "Proxima Nova", Open Sans, sans-serif;
}

p, label, a {
  font-size: 16px;
}

select {
  font-size: 16px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h1 {
  margin: 1rem 0;
}

a.silent {
  text-decoration: none;
  color: #383838;
}
a{
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  color: #000;
}
a:focus,
a:hover{
  color: dodgerblue;
}

section.page {
  margin-top: 1em;
  margin-bottom: 1em;
}

section > .page{
  margin-top: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  font-weight: bold;
}

th, td {
  padding: 0.5em 1em;
}

th.shrink, td.shrink {
  white-space: nowrap;
  width: 1px;
}

th.nohpad, td.nohpad {
  padding-left: 0;
  padding-right: 0;
}

tr:nth-child(odd) > td {
  background: #f5f5f5;
}

table.form td, table.form th {
  font-size: 18px;
  padding: 0.5em 0;
}

table.form tr:nth-child(odd) > td {
  background: transparent;
}

table.form input {
  padding: 0;
  border: none;
  font-size: 18px;
  border-bottom: 2px solid transparent;
  transition: border-color .3s ease;
}

table.form input:focus{
  border-color: dodgerblue;
}
table.form select:focus{
  outline: 2px solid dodgerblue;
}

table.form th {
  width: 270px;
}

table.form th label{
  font-weight: normal;
}

button {
  background: transparent;
  color: dodgerblue;
  border: solid 3px dodgerblue;
  padding: 8px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s ease, color 0.4s ease, border-color 0.5s ease;
}
.button-group{
  margin: 1rem;
}
.button--main{
  background: dodgerblue;
  color: white;
}
.button--main:focus,
.button--main:hover{
  background: black;
  border-color: black;
  color: white;
}
.button--social{
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
.button--fb{
  border-color: #3b5998;
}
.button--fb:focus,
.button--fb:hover{
  background: #3b5998;
}
.button--fb > i{
  transition: color 0.4s ease;
  color: #3b5998;
}
.button--fb:focus > i,
.button--fb:hover > i{
  color: white;
}
.button--tw{
  border-color: #55acee;
}
.button--tw:focus,
.button--tw:hover{
  background: #55acee;
}
.button--tw > i{
  transition: color 0.4s ease;
  color: #55acee;
}
.button--tw:focus > i,
.button--tw:hover > i{
  color: white;
}
button.faux {
  border: none;
  background: transparent;
  font-size: 100%;
  padding: 0;
  color: #383838;
}

button:focus,
button:hover{
  background: dodgerblue;
  color: white;
}

button.faux:focus,
button.faux:hover{
  color: dodgerblue;
  background: transparent;
}

button.select {
  padding: 7px 10px 8px 4px;
}

button.select select {
  background: transparent;
  border: none;
  font-weight: bold;
  color: dodgerblue;
  transition: color 0.4s ease;
  cursor: pointer;
}

button.select:focus,
button.select:hover{
  background: transparent;
  color: dodgerblue;
}

input.round {
  border: solid 3px #d4d4d4;
  font-size: 16px;
  border-radius: 22px;
  padding: 8px 18px;
  transition: border-color 0.5s ease;
}
input.round:focus{
  border-color: dodgerblue;
}
hr {
  height: 3px;
  background: #d4d4d4;
  border: none;
}

.nav-item,
.footer-item {
  text-transform: uppercase;
  font-size: .85rem;
  letter-spacing: 2px;
}
.nav-item::after,
.footer-item::after{
  content: "";
  display: inline-block;
  margin-left: .75rem;
  width: 2px;
  vertical-align: middle;
  height: 18px;
  background: #eee;
}
.nav-item:last-child::after,
.footer-item:last-child::after{
  display: none;
}
.nav-item:focus,
.nav-item:hover,
.footer-item:focus,
.footer-item:hover{
  color: dodgerblue;
}
.nav-item>i,
.footer-item>i{
  padding-right: .5rem;
  font-size: 1rem;
}
.footer-item{
  text-transform: none;
  font-size: 14px;
  letter-spacing: 0;
}


.flex {
  display: flex;
}

.page.width {
  width: 80%;
}

.loading {
  display: flex;
  text-align: center;
  width: 100%;
  min-height: 200px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.loading-inner{
  min-height: 50px;
}

.loader {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid rgba(0, 0, 0, 0.1);
  border-top-color: dodgerblue;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  margin: 2em;
}

.loading-table{
  text-align: center;
}

@-webkit-keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.page.center {
  margin-left: auto;
  margin-right: auto;
}

.text.center {
  text-align: center;
}
.text.left{
  text-align: left;
}
.text.right{
  text-align: right;
}

.panel {
  margin: 2rem 0;
  padding: 2rem 2rem 3.5rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.panel table {
  margin-bottom: 2rem;
}

.line-top::before {
  content: "";
  width: 100px;
  height: 4px;
  background: dodgerblue;
  display: block;
  margin-bottom: .25em;
}

.panel h2{
  margin-bottom: 1rem;
}

.pad-vertical {
  margin: 1em 0;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.label-header {
  font-size: 18px;
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.cancel-margin-bottom {
  margin-bottom: 0;
}

.push-children-right > *{
  margin-right: 1em;
}

td.push-children-right > * {
  margin-right: 0.5em;
}

.push-children-right > *:last-child {
  margin-right: 0;
}

.art-list {
  list-style: none;
  padding: 1em 0;
}

.art-list li {
  max-width: 200px;
  margin: 1em 2em 1em 0;
  display: inline-block;
}

.art-list li img {
  max-width: 100%;
}

.art-list li label.title {
  font-weight: bold;
}

.art-list li label.artist {
  font-size: 16px;
}

.art-list li label{
  cursor: pointer;
}

.one-line-ellipsis {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details-box {
  padding: 2em 0;
}

.details-box h1,
.details-box h2,
.details-box label,
.details-box .options {
  margin: 20px 0;
  line-height: 1;
  display: block;
}

.details-box h1 {
  font-size: 52px;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0;
}

.details-box h2 {
  font-size: 27px;
  font-weight: normal;
  margin-top: 0.75rem;
}

.details-box label,
.cl-white .details-box label{
  color: #aaa;
  font-size: 18px;
}

.details-box img.artwork {
  float: right;
  height: 256px;
}

.details-box .options i {
  font-size: 20px;
}

.scrub {
  width: 100%;
  height: 5px;
  background: #f5f5f5;
}

.scrub > .progress {
  width: 70%;
  height: 100%;
  background: #d4d4d4;
}

header:hover .scrub > .progress {
  background: dodgerblue;
}

.player {
  padding: 1em 1em 0;
}

.bg-gray {
  background: #f5f5f5;
}

.cl-white *:not(i) {
  color: white;
}

.cl-white a:focus,
.cl-white a:hover,
.cl-white button:focus,
.cl-white button:hover{
  color: dodgerblue;
}

.flex {
  display: flex;
}

.flex-strong {
  flex: 1;
}

.top-button > h1{
  float: left;
}
.top-button .line-top{
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}
.top-button > button{
  float: right;
  margin-top: 1.5rem;
}
.top-button > .options{
  float: right;
  margin-top: 1.5rem;
}
.special-nav {
  list-style: none;
}

.controls a {
  font-size: 16px;
}

.controls button > i {
  color: inherit;
}

.controls button.active > i,
.controls button:hover,
.controls button.repeat-all > i {
  color: dodgerblue;
}

.controls button.repeat-one > i {
  color: orange;
}

button.active > i.active,
button > i.inactive {
  display: inherit;
}

button.active > i.inactive,
button > i.active,
.hide {
  display: none;
}

textarea.copycredits {
  width: 100%;
  height: 200px;
}

.toasts {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
}

.toasts > div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.toast {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: dodgerblue;
  color: white;
}

.toast.error {
  background: red;
}

span.note,
span.note a {
  font-size: 12px;
}

.modal-layer.open {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.modal-layer.open > .modal {
  pointer-events: all;
}

.modal {
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  background: white;
}

.bgbox {
  margin-top: 1em;
  background-size: 110%;
  background-position: center 60%;
  background-color: black;
}

.bgbox-blanket {
  background-color: rgba(0, 0, 0, 0.65);
  overflow: hidden;
}

table.drag-sortable tr {
  border-top: 2px solid transparent;
  border-bottom: 1px solid transparent;
}

table.drag-sortable tr.drag-active-top {
  border-top: 2px solid #000;
}

table.drag-sortable tr.drag-active-bottom {
  border-bottom: 2px solid #000;
}

.discography {
  list-style: none;
  margin-left: -1em;
  margin-top: -1em;
}

.discography li {
  display: inline-block;
  margin: 1em 0 0 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.discography li img {
  max-width: 147px;
  display: block;
}

footer {
  margin-top: 2em;
  margin-bottom: 2em;
}

footer > label,
footer > a,
footer > button.faux {
  font-size: 14px;
  font-weight: normal;
}

.unlicensable {
  font-size: 0.8em;
}

.unlicensable a {
  font-size: 1em;
}

td.genres span:before {
  content: ", ";
}

td.genres span:first-of-type:before {
  content: "";
}

.page.search h2 {
  margin: 1em 0;
}

.global-search input[type="text"] {
  margin-left: 1em;
}

.global-search input[type="text"] {
  border: none;
  font-size: 18px;
}