.top-banner--blog-featured{
	padding: 8rem 0;
}
.top-banner--blog{
	padding: 12rem 0;
	text-align: center;
}
.article .more-details > h3 {
    display: block;
    font-size: 1.25rem;
    color: #ddd;
}
.article .more-details > h3 *{
    color: #ddd;
}
.article .more-details h3 span.h3-article-subtitle {
    color: #fff;
    font-weight: bold;
    font-size: 1.15rem;
    letter-spacing: 2px;
}
.panel--article{
	padding: 2rem 2rem;
	text-align: left;
	max-width: 1000px;
	margin: 0 auto;
}
.panel--article h3{
	line-height: 1.3;
}
.panel--article p{
	font-size: 18px;
	line-height: 1.5;
}
.panel--article img,
.panel--article iframe{
	max-width: 100%;
	margin: 1rem auto 2rem;
}
.panel--article img{
	height: auto;
}
.blog-tags{
	list-style: none;
	margin-bottom: 1rem;
}
.blog-tags > li{
	display: inline-block;
}
.button--tag{
	background: transparent;
	color: white;
	border-color: white;
}
.blog-tags .button:active,
.blog-tags .button:hover{
	background: #ddd;
	border-color: #ddd;
	color: #000;
}
.cl-white .blog-tags .button:active,
.cl-white .blog-tags .button:hover{
	background: white;
	border-color: white;
	color: black;
}
ul.blog-tags {
    padding: 0;
}

.blog-tags .button {
    font-size: .65rem;
    padding: .25rem .5rem;
}

.panel--article header {
    margin: 3rem auto;
}

.panel--article * > a{
	font-size: inherit;
}
.panel--article * > .button{
	font-size: .75rem;
}
.panel--article .button-group .button {
	margin-left: 5px;margin-right: 5px;
}
.panel--article .button-group {
  margin-bottom: 1rem;
}
.pagination--blog{
	margin: 2rem 0 0;
}
.pagination--blog label {
  font-size: 1.25rem;
  vertical-align: middle;
  margin: 0 .75rem;
}
.button--share{
	color: #fff;
}
.button--share-facebook { 
	background-color: #4A66B7; 
	border-color: #4A66B7; 
}
.button--share-facebook:hover,
.button--share-facebook:active { 
	background-color: #556fbb; 
	border-color: #556fbb; 
}
.button--share-twitter { 
	background-color: #1B95E0; 
	border-color: #1B95E0; 
}
.button--share-twitter:hover,
.button--share-twitter:active { 
	background-color: #269ce5; 
	border-color: #269ce5; 
}

@media screen and (min-width: 768px){
	.panel--article{
		padding: 2rem 4rem;
	}
	.top-banner--blog{
		text-align: left;
	}
	.top-banner--blog .container{
		max-width: 1000px;
		margin: 0 auto;
	}
	.article .more-details > h3 {
    	display: inline-block;
    }
}