.panel .music-browse{
  list-style: none;
  padding: 0;
}
.button-group--filters{
  margin-bottom: 2rem;
}
.button-group--filters button{
  width: 100%;
  margin-bottom: 2px;
}
.filter-group {
  border: 0;
  margin: 0 0 2rem;
}

.filter-group > h4 {
  font-weight: bold;
  margin-bottom: .5rem;
  font-size: 1.15rem;
}

.filter-group > select{
  width: 100%;
  padding: .65rem;
}

.panel .filter-list {
  padding: 0;
  margin: 0;
}

.panel .filter-list.hidden{
  display: none;
}

.filter-list li {
  display: inline-block;
  width: auto;
}

.filter-list li button {
  border: 0;
  background: #eee;
  color: #777;
  letter-spacing: 0;
  font-size: 0.75rem;
  padding: .5rem .5rem;
  margin: 0 .5rem .5rem 0;
}
.filter-list li button:focus,
.filter-list li button:hover,
.filter-list li button:active,
.filter-list li button.check{
  background: #000;
  color: #fff;
}
.music-browse li{
  margin-bottom: 2rem;
  z-index: 0;
  position: relative;
}
.bgbox--browse .details-box .countdown {
  width: 6em;
  display: inline-block;
  vertical-align: middle;
}
.bgbox--browse .details-box img.artwork {
  height: 159px;
}
.bgbox--browse a > h2 {
  margin-bottom: .3rem;
}
.bgbox--browse .details-box {
  padding: 2em;
  text-align: center;
}
.bgbox--browse a,
.bgbox--browse a > h2{
  text-decoration: none;
}
.bgbox--browse label{
  display: inline-block;
  margin: .5rem 1em .5em 0;
}

.music-browse li.error {
  width: 100%;
  background: #ef6958;
  padding: 1rem 2rem;
  color: white;
}

.catalog-table thead{
  border-bottom: 2px solid #ccc;
}

.catalog-table th a,
.catalog-table td {
  padding: 0.2rem 1rem;
}

.catalog-table th {
  padding: 0px;
}

.catalog-table th a {
  font-weight: bold;
  display:  block;
  text-decoration: none;
  min-width: 60px;
  padding: 0;
}

.catalog-table th a:hover .fa,
.catalog-table th.active a .fa {
  color: dodgerblue;
  opacity: 1;
}

.catalog-table th a .fa {
  float: right;
  color: #666;
  opacity: 0;
  position: relative;
  top: 2px;
  transition: all 0.4s ease;
}

.catalog-table th a .fa-sort-asc {
  top: 6px;
}

.catalog-table th a .fa-sort-desc {
  top: -2px;
}

.catalog-table th.active a,
.catalog-table th a:hover {
  color: dodgerblue;
}

.catalog-table .empty-message {
  padding: 1em;
}

.browse-fieldsets > fieldset {
  flex: 1 auto;
}

.browse-filters--table .search-wrapper{
  position: relative;
}
.browse-filters--table input[type="text"] {
  width: 100%;
  font-size: 1rem;
}
.browse-filters--table button.search-button {
  position: absolute;
  right: 5px;
  top: 5px;
}
.browse-filters--table fieldset {
  width: 100%;
  margin: .5rem 0 0;
}
.browse-filters--table .button-group--filters{
  margin: .5rem 0;
}

table.one-line th,
table.one-line td {
  padding: 0.2rem 1rem;
}
table.one-line input[type="text"] {
  padding: 0.2rem 1rem;
  font-size: 1rem;
  text-align: center;
}

@media screen and (min-width: 992px){

  table.one-line td{
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
  }
  table.one-line td.col-xs-hidden{
    max-width: 125px;
  }
  table.one-line .button--mobile[role=play-song], 
  table.one-line .button--mobile.in-early-access{
    font-size: 1.2rem;
  }

  .panel .music-browse{
    margin-left: 1rem;
  }
  .browse-filters{
    padding-right: 1rem;
  }
  .button-group--filters{
    margin-bottom: 0rem;
  }
  .bgbox--browse .details-box {
    text-align: left;
  }
  .bgbox--browse .details-box img.artwork {
    float: left;
    margin: 0;
    margin-right: 2em;
  }

  .browse-filters--table input[type="text"] {
    height: 35px;
  }
  .browse-filters--table{
    padding-right: 0;
  }
  .browse-table-tags .filter-list{
    float: left;
    margin-top: .5rem;
  }
  .browse-filters--table fieldset{
    margin: 0;
    margin-left: .5rem;
    width: auto;
  }
  .browse-filters--table fieldset:first-child{
    margin-left: 0;
  }
  .browse-filters--table fieldset:last-child{
    margin-right: .5rem;
  }
  .browse-filters--table .button-group--filters{
    margin: .5rem 0;
  }
  .browse-filters--table fieldset .filter-list{
    margin: 0.5rem 0;
  }
  .browse-filters--table fieldset select{
    height: 35px;
    line-height: 1;
    padding: 0 .65rem;
  }
  .browse-filters--table .button-group{
    margin: 0;
    text-align: right;
  }
  .browse-filters--table .button-group--filters button {
    padding: .4rem;
  }
  .pagination-right > .pagination {
    text-align: right;
    margin-right: 0;
  }
}

@media screen and (min-width: 1080px){
  table.one-line td{
    max-width: 220px;
  }
  table.one-line td.col-xs-hidden{
    max-width: 125px;
  }
}
@media screen and (min-width: 1200px){
  .scroll-container{
    max-width: 325px;
  }
  table.one-line td.col-xs-hidden{
    max-width: 125px;
  }
}
@media screen and (min-width: 1500px){
  .scroll-container{
    max-width: 400px;
  }
  .catalog-table td.col-xs-hidden{
    max-width: 125px;
  }
}

@media screen and (min-width: 1700px){
  .button-group--filters button{
    width: auto;
  }
}

/* small reset for catalog mobile pages */
@media screen and (max-width: 991px){
  table.one-line .scroll-container {
    overflow: initial;
    white-space: normal;
    max-width: initial;
    text-overflow: initial;
  }

  table.one-line .scroll-title {
      white-space: normal;
  }
}