.art-list {
  list-style: none;
  font-size: 0;
}
.art-list li {
  display: inline-block;
  max-width: initial;
  box-sizing: border-box;
  position: relative;
  padding: .75%;
  width: 50%;
}
.art-list li a {
  position: relative;
}
@media screen and (min-width: 768px){
  .art-list li{
    width: 33.3%;
  }
}
@media screen and (min-width: 992px){
  .art-list li{
    width: 25%;
  }
}
@media screen and (min-width: 1200px){
  .art-list li{
    width: 16.666%;
  }
}
@media screen and (min-width: 1800px){
  .art-list li{
    width: 12.5%;
  }
}

.art-lsit li {
  position: relative;
}

.art-list li .image-wrapper{
  position: relative;
}

.art-list li .image-wrapper img.preload{
  box-shadow: 0 0 0;
  position: relative;
}

.art-list li img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  cursor: pointer;
}

.art-list li .image-wrapper img{
  position: absolute; 
  top: 0;
  left: 0;
}

.art-list li button.play-release {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50px;
  left: 50%;
  margin-left: -25px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  opacity: 0;
  text-align: center;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  font-size: 22px;
  padding-left: 4px;
}

.art-list li:hover button.play-release {
  opacity: 0.8;
}


.art-list li:hover button.play-release:hover {
  opacity: 1;
}

.art-list li label.title {
  margin-top: 15px;
  font-weight: bold;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.art-list li label.artist {
  font-size: .8rem;
}

.art-list li label{
  cursor: pointer;
}

.cl-white .art-list li a label{
  color: white;
  transition: all 0.4s ease;
}
.cl-white .art-list li a:hover label{
  color: dodgerblue;
}

.merch .art-list li{
  text-align: center;
  margin-bottom: 1rem;
}
.merch .art-list li .image-wrapper {
  margin-bottom: 1rem;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  width: 100%;
  transition: box-shadow 0.4s ease;
}
.merch .art-list li:hover .image-wrapper,
.merch .art-list li a:focus .image-wrapper {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); 
}
.merch .art-list li .image-wrapper img {
  box-shadow: 0 0 0;
  display: block;
}

@media screen and (min-width: 1200px){
  .merch .art-list--full-width li,
  .podcast .art-list--full-width li{
    padding-bottom: 0;
  }
}

.one-line-ellipsis {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bgbox .details-box{
  text-align: center;
}

.details-box {
  padding: 2em 0;
}

.details-box h1,
.details-box h2,
.details-box label,
.details-box .options {
  margin: 20px 0;
  line-height: 1;
  display: block;
}

.details-box h1 {
  font-size: 38px;
  letter-spacing: -1px;
  text-transform: uppercase;
  line-height: 1.3;
  margin: 0;
}

@media screen and (min-width: 768px){
  .details-box h1 {
    font-size: 52px;
  }
}

.details-box h2 {
  font-size: 27px;
  font-weight: normal;
  margin-top: 0.75rem;
}

.details-box h2 {
  margin-top: .5rem;
  margin-bottom: 1rem;
}


.details-box h2 + label {
  margin: .65rem 0 1rem;
}

.details-box label,
.cl-white .details-box label,
.bg .cl-white .details-box label {
  color: #aaa;
  font-size: 18px;
}

.details-box img.artwork {
  text-align: center;
  max-width: 100%;
  display: block;
  margin: 1rem auto;
  padding: 0 1rem;
}

.details-box .options i {
  font-size: 20px;
}

@media screen and (min-width: 992px){
  .details-box img.artwork {
    float: right;
    height: 256px;
    padding: 0;
    cursor: pointer;
  }
  .bgbox .details-box{
    text-align: left;
  }
  .details-box .options .button--release-cta i {
    font-size: 16px;
  }
}

.panel > .options{
  margin-bottom: 1.5rem;
}

.controls a {
  font-size: 16px;
}

.controls button > i {
  color: inherit;
}

.controls button.active > i,
.controls button:hover,
.controls button.repeat-all > i {
  color: dodgerblue;
}

.controls button.repeat-one > i {
  color: orange;
}

button.active > i.active,
button > i.inactive {
  display: inherit;
}

button.active > i.inactive,
button > i.active,
.hide {
  display: none;
}

.button--release-cta > span{
  display: none;
}
.button--mobile[role=play-song],
.button--mobile.in-early-access{
  font-size: 2rem;
}
.scroll-container{
  max-width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;
}
.scroll-title{
  text-indent: 0px;
  transition: text-indent 0.35s ease;
  white-space: nowrap;
  display: inline-block;
}
@media screen and (min-width: 992px){
  .scroll-container{
    max-width: 200px;
  }
  .button--mobile[role=play-song],
  .button--mobile.in-early-access{
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1080px){
  .scroll-container{
    max-width: 220px;
  }
  .button--release-cta > span{
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: 1px;
    margin-left: .25rem;
    color: #383838;
    transition: color .3s ease;
    font-size: .75rem;
  }
  .button--release-cta > .active + span,
  .button--release-cta.active > .inactive + span{
    display: none;
  }
  .button--release-cta.active > .active + span{
    display: inherit;
  }
  a.button--release-cta > span{
    top: 3px;
  }
  .button--release-cta.button--cta > span{
    color: white;
  }
  .button--release-cta:hover > span,
  .button--release-cta:active > span{
    color: white;
  }
  .button--release-cta.button--cta:hover > span,
  .button--release-cta.button--cta:active > span{
    color: black;
  }
  button[role=play-release]{
    min-width: 110px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px){
  .scroll-container{
    max-width: 325px;
  }
}
@media screen and (min-width: 1500px){
  .scroll-container{
    max-width: 400px;
  }
}
textarea.copycredits {
  width: 100%;
  font-size: 1rem;
  min-height: 120px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
}
