.s[num="1"] {
  display: none;
}

.s[num]:not([num="1"]):before {
  content: "s";
}

.mh-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mv-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.mv-1 {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}
.mv-2 {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.ml-0 {
  margin-left: 0em !important;
}
.ml-1 {
  margin-left: 0.5em !important;
}
.ml-2 {
  margin-left: 1em !important;
}
.ml-3 {
  margin-left: 1.5em !important;
}
.ml-4 {
  margin-left: 2em !important;
}

.mr-0 {
  margin-right: 0em !important;
}
.mr-1 {
  margin-right: 0.5em !important;
}
.mr-2 {
  margin-right: 1em !important;
}
.mr-3 {
  margin-right: 1.5em !important;
}
.mr-4 {
  margin-right: 2em !important;
}

.mt-0 {
  margin-top: 0em !important;
}
.mt-1 {
  margin-top: 0.5em !important;
}
.mt-2 {
  margin-top: 1em !important;
}
.mt-3 {
  margin-top: 1.5em !important;
}
.mt-4 {
  margin-top: 2em !important;
}

.mb-0 {
  margin-bottom: 0em !important;
}
.mb-1 {
  margin-bottom: 0.5em !important;
}
.mb-2 {
  margin-bottom: 1em !important;
}
.mb-3 {
  margin-bottom: 1.5em !important;
}
.mb-4 {
  margin-bottom: 2em !important;
}

.pl-1 {
  padding-left: 0em;
}
.pl-1 {
  padding-left: 0.5em;
}
.pl-2 {
  padding-left: 1em;
}
.pl-3 {
  padding-left: 1.5em;
}
.pl-4 {
  padding-left: 2em;
}

.pr-0 {
  padding-right: 0em;
}
.pr-1 {
  padding-right: 0.5em;
}
.pr-2 {
  padding-right: 1em;
}
.pr-3 {
  padding-right: 1.5em;
}
.pr-4 {
  padding-right: 2em;
}

.pt-0 {
  padding-top: 0em;
}
.pt-1 {
  padding-top: 0.5em;
}
.pt-2 {
  padding-top: 1em;
}
.pt-3 {
  padding-top: 1.5em;
}
.pt-4 {
  padding-top: 2em;
}

.pb-0 {
  padding-bottom: 0em;
}
.pb-1 {
  padding-bottom: 0.5em;
}
.pb-2 {
  padding-bottom: 1em;
}
.pb-3 {
  padding-bottom: 1.5em;
}
.pb-4 {
  padding-bottom: 2em;
}

.position-relative {
  position: relative;
}

.aspect-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.aspect-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.aspect-container-4x3 {
  padding-bottom: 75%;
}

.aspect-container-1x1 {
  padding-bottom: 100%;
}

.aspect-container iframe,
.aspect-container img {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-col {
  flex-flow: column;
}

.width--full {
  width: 100%;
}

.image-responsive{
  max-width: 380px;
  width: 90%;
  margin: 0 auto;
  display: inline-block;
}
.image-responsive--medium{
  max-width: 260px;
}
.image-responsive--small{
  max-width: 190px;
}
.image-responsive--shadow {
  box-shadow: 0 5px 15px rgba(0,0,0,0.07);
}

.text.center {
  text-align: center;
}
.text.left{
  text-align: left;
}
.text.right{
  text-align: right;
}
.text.nowrap {
  white-space: nowrap;
}
.text.decoration-none {
  text-decoration: none;
}

.pad-vertical {
  margin-top: 1em;
  margin-bottom: 1em;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.label-header {
  font-size: 18px;
  display: inline;
}

.uppercase {
  text-transform: uppercase;
}

.cancel-margin-bottom {
  margin-bottom: 0;
}

.push-right > *{
  margin-right: 1em;
}

td.push-right > * {
  margin-right: 0.5em;
}

.push-right > *:last-child {
  margin-right: 0;
}

.line-bottom::after {
  content: "";
  width: 100px;
  height: 4px;
  background: #000;
  display: block;
  margin: .35em 0 0 auto;
}

.line-top::before {
  content: "";
  width: 100px;
  height: 4px;
  background: #000;
  display: block;
  margin-bottom: .35em;
}

.cl-white .line-bottom::after,
.cl-white .line-top::before{
  background: white;
}

.text.right .line-bottom::after,
.text.right .line-top::before{
  margin-left: auto;
  margin-right: 0;
}

.hidden{
  display: none;
}
.visible{
  display: block;
}

/* Loading */
.loading {
  display: flex;
  text-align: center;
  width: 100%;
  min-height: 200px;
  height: auto;
  align-items: center;
  justify-content: center;
}

.loading-inner{
  min-height: 50px;
}

.loader {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 0.25em solid rgba(0, 0, 0, 0.1);
  border-top-color: #000;
  border-radius: 50%;
  -webkit-animation: loading 1s infinite linear;
  animation: loading 1s infinite linear;
  margin: 2em;
}

.loading--black {
  min-height: 500px;
  background: #111;
}

.loading--black .loader {
  border-color: rgba(255,255,255,0.1);
  border-top-color: #fff;
}

.loading-table{
  text-align: center;
}

@-webkit-keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

/* Working in Spinner */
.working-spinner {
  display: none;
}

.working .working-spinner {
  display: initial;
}

.bg-gray {
  background: #f5f5f5;
}
.bg-black {
  background: black;
}
.bg-white {
  background: white;
}
.bg-transparent {
  background: transparent !important;
}

a.cl-white {
  color: #fff;
}

.cl-white a:active,
.cl-white a:hover,
.cl-white button.faux:active,
.cl-white button.faux:hover{
  color: dodgerblue;
}

.cl-white a.button:hover,
.cl-white a.button:active {
  color: #fff;
}

.cl-white .button--gold:active,
.cl-white .button--gold:hover,
.cl-white .button.button--gold:active,
.cl-white .button.button--gold:hover {
  color: black;
}


.cl-white h1,
.cl-white h2,
.cl-white h3,
.cl-white h4,
.cl-white h5,
.cl-white a {
  color: #fff;
}

.cl-white p,
.cl-white ul,
.cl-white ol,
.cl-white p span {
  color: #ccc;
}

.flex-strong {
  flex: 1;
}

.special-nav {
  list-style: none;
}

.pointer-events {
  pointer-events: all;
}

.bgbox {
  position: relative;
}

.banner {
  background-color: #000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
}
.banner--scaled{
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.banner--scaled .banner,
.banner--scaled .side-banner,
.banner--scaled .bgbox{
  transform: perspective(1px) translateZ(0) scale(1.1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.banner--scaled .bgbox .details-box {
  transform: perspective(1px) translateZ(0) scale(0.909);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.banner--bottom-crop{
  background-position: center bottom;
}
.details-box .options .button,
.details-box .options button{
  min-height: 45px;
  vertical-align: top;
}
@media screen and (min-width: 992px){
  table td.push-right{
    text-align: right;
  }
  .banner--height{
    min-height: auto;
    height: 400px;
  }

  .details-box.artist {
    min-height: 400px;
  }
  .details-box .options .button,
  .details-box .options button{
    min-height: 40px;
  }
}
.banner-shade,
.gradient{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.5);
}
.light-banner-shade{
  background: rgba(255,255,255,0.85);
}
.banner-shade--darker{
  background: rgba(0,0,0,0.65);
}
.gradient{
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%);
}
.gradient--inverted{
  background: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 60%, rgba(0,0,0,1) 100%);
}
.side-banner{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #efefef;
  display: block;
}
.shadow{
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.responsive{
  width: 100%;
}
.tag{
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  background: black;
  padding: 5px 8px;
}
.top-cta{
  margin-bottom: 1rem;
}
.top-title h1{
  margin-top: 0;
}
.top-title + .panel{
  margin-top: 1rem;
}
.top-title .button--transparent {
  padding: .5rem 0;
}
.fullpage-iframe{
  width: 100%;
  border: 0;
  box-shadow: 0 0 0;
  outline: 0;
  height: 100%;
  min-height: 800px;
  margin: 0;
  padding: 0;
}
.fullpage-wrapper{
  position: relative
}
.fullpage-iframe + .loading {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (min-width: 768px){
  .top-title .button--transparent{
    padding: 15px 17px 15px 20px;
  }
}

.action-toggle.on .off,
.action-toggle .on {
  display: none;
}
.action-toggle.on .on {
  display: inherit;
}
/* Another Version 😞 */
.actionier.on .actionier-off,
.actionier .actionier-on {
  display: none;
}
.actionier.on .actionier-on {
  display: initial;
}

ul.errors {
  list-style: none inside;
  padding: 0.5em 0.5em 0 0.5em;
  background: #FFE0E0;
  border: 1px solid red;
  margin-bottom: 0.5em;
  border-radius: 3px;
}

ul.errors li {
  margin-bottom: 0.5em;
}

.alert {
  padding: 1rem 1.5rem;
  background: #F0F0F0;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid #C0C0C0;
}

.alert .button--close {
  float: right;
  font-size: 12px;
  padding: 0.5rem;
  margin-right: -0.5rem;
}

.row.no-margins,
.row.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

#front-form {
  position: fixed;
  right: 1vw;
  bottom: -90vh;
  width: 400px;
  z-index: 0;
  padding: 1em 1.25em 0em;
  background: #fff;
  overflow: auto;
  max-height: 90vh;
  transition: bottom 0.5s ease;
  box-shadow: 0 0 35px rgba(0,0,0,0.45);
  text-align: left;
}

#front-form .button--close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
}

#front-form h3 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

#front-form label {
  display: block;
  font-size: 16px;
  margin: 0.25em 0;
}

#front-form .form-group {
  margin-bottom: 1.5em;
}

#front-form  .form-group-inline.row {
  margin-left: 0px;
  margin-right: 0px;
}

#front-form  .form-group-inline label {
  font-weight: bold;
  padding: 1rem 0;
  margin: 0px;
}

#front-form input,
#front-form textarea {
  width: 100%;
  font-size: 14px;
}

#front-form.show {
  bottom: 0px;
}

#site-notices .notice--blue,
#site-notices .notice--blue-link {
  height: auto;
  background: dodgerblue;
  color: #fff;
  padding: 1em 0;
  border-top: 1px solid #fff;
  text-align: center;
}

#site-notices .notice-container:nth-of-type(1) .notice--blue {
  border-top: none;
}

#site-notices .notice--blue-link {
  padding: 0em;
}

#site-notices .notice-container {
  height: auto;
  top: 0px;
  z-index: 999;
  width: 100%;
  margin-top: 5px;
}

#site-notices a.notification-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1em;
}

#site-notices a.notification-link:hover .text {
  text-decoration: underline;
}

#site-notices .notice-container.hide {
  height: 0px;
  overflow: hidden;
}

.list--inline > li {
  display: inline-block;
}
.list--tool-tip > li {
  position: relative;
}
.list--tool-tip .tool-tip {
  position: absolute;
  opacity: 0;
  transition: 0.25s opacity;
}
.list--tool-tip > li:hover .tool-tip {
  display: block;
  opacity: 100;
  z-index: 999;
}

.list--expander.icon > li .button--icon:hover > i,
.list--expander.icon > li .button--icon:focus > i {
  left: 0;
  right: 0;
}
.list--expander > li,
.list--expander > li .button {
  width: 100%;
}
.list--expander.icon > li .button > i {
  float: right;
}

@media screen and (min-width: 768px) {
  .list--expander > li,
  .list--expander > li .button {
    width: initial;
  }
  .list--expander.icon > li .button > i {
    float: none;
  }
  .list--expander.icon > li .icon-expander-text {
    display: none;
  }
}

.actionier.on .actionier-off,
.actionier .actionier-on {
  display: none;
}
.actionier.on .actionier-on {
  display: initial;
}

.xs-expando {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .xs-expando {
    width: auto;
  }
  .xs-expando-m {
    margin: 0;
  }
}

.comma-list span:before {
  content: ", ";
}
.comma-list span:nth-child(1):before,
.comma-list span:nth-last-child(1):nth-child(1):before,
.comma-or .comma-list span:nth-last-child(1):nth-child(1):before {
  content: "";
}
.comma-list span:nth-last-child(1):before {
  content: " & ";
}
.comma-or .comma-list span:nth-last-child(1):before {
  content: " or ";
}

.artist-circle {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50px;
  width: 100px;
  height: 100px;
}

.artist-circle img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.art-list .artist-circle img {
  max-width: inherit;
}

.tool-tip--artist {
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 15px;
  z-index: 1;
  border: solid 1px white;
  box-shadow: 2px 2px 11px 2px rgba(255, 255, 255, 0.25);
}